In [12]:
#-*- coding: utf-8 -*-
import MySQLdb
import codecs

# 打开数据库连接
db = MySQLdb.connect("admin.citypet.cn","pocketpet","3MjdvUuXqxca6cbc","goldminer",charset="utf8")

# 使用cursor()方法获取操作游标 
cursor = db.cursor()

for line in codecs.open("/Users/abing/Downloads/bb.txt", "r", "utf8").readlines():
    parts = line.strip().split("\t")
    
#     print(parts[1])
#     sql = "alter table  cashflow_statement add %s double comment '%s'" % (parts[0], parts[1])
#     print(parts)
#     cursor.execute(sql)

for line in codecs.open("/Users/abing/Downloads/A股.csv", "r", "utf8").readlines():
    parts = line.strip().split(",")
    code = parts[0].strip()
    name = parts[1].strip()
    pubdate = parts[4].strip()
    totalstock = parts[5].strip()
    c_stock = parts[6].strip()
    if code == "公司代码":
        continue
#     print(parts[1])
    sql = "insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('%s', '%s', '%s', '',  %s, %s);" % \
    (code, name, pubdate, totalstock, c_stock)
    print(sql)
    cursor.execute(sql)
    db.commit()

# 关闭数据库连接
db.close()

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600000', '浦发银行', '1999-11-10', '',  2935208.04, 2810376.39);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600004', '白云机场', '2003-04-28', '',  206932.05, 206932.05);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600006', '东风汽车', '1999-07-27', '',  200000, 200000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600007', '中国国贸', '1999-03-12', '',  100728.25, 100728.25);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600008', '首创股份', '2000-04-27', '',  482061.41, 482061.41);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600009', '上海机场', '1998-02-18', '',  192695.84, 109347.64);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600010', '包钢股份', '2001-03-09', '',  4558503.26, 2203883.38);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600011', '华能国际', '2001-12-06', '',  1520038.34, 1520038.34);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600012', '皖通高速', '2003-01-07', '',  165861, 165861);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600015', '华夏银行', '2003-09-12', '',  1282268.67, 1282268.67);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600016', '民生银行', '2000-12-19', '',  3648534.88, 3648534.88);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600017', '日照港', '2006-10-17', '',  307565.39, 307565.39);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600018', '上港集团', '2006-10-26', '',  2317367.47, 2275517.97);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600019', '宝钢股份', '2000-12-12', '',  2226791.51, 2208972.62);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600020', '中原高速', '2003-08-08', '',  224737.18, 224737.18);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600021', '上海电力', '2003-10-29', '',  240965.71, 213973.93);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600022', '山东钢铁', '2004-06-29', '',  1094654.96, 1068861.31);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600023', '浙能电力', '2013-12-19', '',  1360069, 1360069);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600025', '华能水电', '2017-12-15', '',  1800000, 180000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600026', '中远海能', '2002-05-23', '',  403203.29, 403203.29);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600027', '华电国际', '2005-02-03', '',  986297.67, 850183.93);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600028', '中国石化', '2001-08-08', '',  12107120.96, 12107120.96);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600029', '南方航空', '2003-07-25', '',  1008817.33, 1008817.33);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600030', '中信证券', '2003-01-06', '',  1211690.84, 1209298.94);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600031', '三一重工', '2003-07-03', '',  770340.39, 764297.36);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600033', '福建高速', '2001-02-09', '',  274440, 274440);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600035', '楚天高速', '2004-03-10', '',  173079.59, 149139.51);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600036', '招商银行', '2002-04-09', '',  2521984.56, 2521984.56);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600037', '歌华有线', '2001-02-08', '',  139177.79, 116835.2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600038', '中直股份', '2000-12-18', '',  58947.67, 58947.67);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600039', '四川路桥', '2003-03-25', '',  361052.55, 301973.27);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600048', '保利地产', '2006-07-31', '',  1185844.11, 1173634.09);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600050', '中国联通', '2002-10-09', '',  3023395.07, 2119659.64);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600051', '宁波联合', '1997-04-10', '',  31088, 31088);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600052', '浙江广厦', '1997-04-18', '',  87178.91, 87178.91);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600053', '九鼎投资', '1997-04-18', '',  43354.08, 43354.08);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600054', '黄山旅游', '1997-05-06', '',  74730, 74730);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600055', '万东医疗', '1997-05-19', '',  54081.62, 48484.8);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600056', '中国医药', '1997-05-15', '',  106848.55, 101213.61);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600057', '象屿股份', '1997-06-04', '',  145773.92, 144428.63);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600058', '五矿发展', '1997-05-28', '',  107191.07, 107191.07);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600059', '古越龙山', '1997-05-16', '',  80852.42, 80852.42);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600060', '海信电器', '1997-04-22', '',  130848.12, 130848.12);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600061', '国投资本', '1997-05-19', '',  422712.97, 369415.17);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600062', '华润双鹤', '1997-05-22', '',  86936.48, 68603.51);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600063', '皖维高新', '1997-05-28', '',  192589.47, 152011.33);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600064', '南京高科', '1997-05-06', '',  77247.31, 77247.31);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600066', '宇通客车', '1997-05-08', '',  221393.92, 190348.42);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600067', '冠城大通', '1997-05-08', '',  149211.07, 149211.07);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600068', '葛洲坝', '1997-05-26', '',  460477.74, 460477.74);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600069', '银鸽投资', '1997-04-30', '',  124910.3, 82537.41);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600070', '浙江富润', '1997-06-04', '',  52194.61, 40151.81);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600071', '凤凰光学', '1997-05-28', '',  23747.25, 23747.25);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600072', '中船科技', '1997-06-03', '',  73624.99, 60077.88);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600073', '上海梅林', '1997-07-04', '',  93772.95, 93772.95);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600074', 'ST保千里', '1997-06-23', '',  243788.6, 101831.37);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600075', '新疆天业', '1997-06-17', '',  97252.24, 83239.97);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600076', '康欣新材', '1997-05-26', '',  103426.41, 75237.46);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600077', '宋都股份', '1997-05-20', '',  134012.23, 134012.23);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600078', '澄星股份', '1997-06-27', '',  66257.29, 66257.29);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600079', '人福医药', '1997-06-06', '',  135370.43, 128604.91);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600080', '金花股份', '1997-06-12', '',  37327.03, 30529.59);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600081', '东风科技', '1997-07-03', '',  31356, 31356);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600082', '海泰发展', '1997-06-20', '',  64611.58, 63254.18);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600083', '博信股份', '1997-06-06', '',  23000, 22799.33);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600084', '中葡股份', '1997-07-11', '',  112372.68, 112372.68);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600085', '同仁堂', '1997-06-25', '',  137147.03, 137147.03);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600086', '东方金钰', '1997-06-06', '',  135000, 105684.5);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600088', '中视传媒', '1997-06-16', '',  33142.2, 33142.2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600089', '特变电工', '1997-06-18', '',  371450.28, 371431.28);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600090', '同济堂', '1997-06-16', '',  143966.29, 70269.7);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600091', 'ST明科', '1997-07-04', '',  43741.25, 33652.6);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600093', '易见股份', '1997-06-26', '',  112244.75, 32244.75);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600094', '大名城', '1997-07-03', '',  247532.51, 247532.51);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600095', '哈高科', '1997-07-08', '',  36126.36, 36126.36);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600096', '云天化', '1997-07-09', '',  132137.91, 112213.01);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600097', '开创国际', '1997-06-19', '',  24093.66, 20259.79);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600098', '广州发展', '1997-07-18', '',  272619.66, 272619.66);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600099', '林海股份', '1997-07-04', '',  21912, 21912);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600100', '同方股份', '1997-06-27', '',  296389.9, 296389.9);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600101', '明星电力', '1997-06-27', '',  32417.9, 32417.9);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600103', '青山纸业', '1997-07-03', '',  177370.6, 106184.16);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600104', '上汽集团', '1997-11-25', '',  1168346.14, 1150343.29);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600105', '永鼎股份', '1997-09-29', '',  96389.31, 76190.93);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600106', '重庆路桥', '1997-06-18', '',  99851.62, 99851.62);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600107', '美尔雅', '1997-11-06', '',  36000, 36000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600108', '亚盛集团', '1997-08-18', '',  194691.51, 194691.51);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600109', '国金证券', '1997-08-07', '',  302435.93, 302435.93);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600110', '诺德股份', '1997-10-07', '',  115031.21, 115031.21);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600111', '北方稀土', '1997-09-24', '',  363306.6, 363306.6);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600112', '*ST天成', '1997-11-27', '',  50920.48, 50920.48);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600113', '浙江东日', '1997-10-21', '',  31860, 31860);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600114', '东睦股份', '2004-05-11', '',  43634.76, 42128.26);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600115', '东方航空', '1997-11-05', '',  1446758.57, 1446758.57);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600116', '三峡水利', '1997-08-04', '',  99300.55, 99300.55);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600117', '西宁特钢', '1997-10-15', '',  104511.83, 74121.93);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600118', '中国卫星', '1997-09-08', '',  118248.91, 118248.91);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600119', '长江投资', '1998-01-15', '',  30740, 30740);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600120', '浙江东方', '1997-12-01', '',  67260.62, 50547.35);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600121', '*ST郑煤', '1998-01-07', '',  101534.34, 101534.34);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600122', '宏图高科', '1998-04-20', '',  115771.84, 115771.84);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600123', '兰花科创', '1998-12-17', '',  114240, 114240);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600125', '铁龙物流', '1998-05-11', '',  130552.19, 130552.19);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600126', '杭钢股份', '1998-03-11', '',  259783.78, 92698.6);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600127', '金健米业', '1998-05-06', '',  64178.32, 64178.32);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600128', '弘业股份', '1997-09-01', '',  24676.75, 24676.75);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600129', '太极集团', '1997-11-18', '',  55689.07, 42689.4);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600130', '波导股份', '2000-07-06', '',  76800, 76800);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600131', '岷江水电', '1998-04-02', '',  50412.52, 39743.81);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600132', '重庆啤酒', '1997-10-30', '',  48397.12, 48397.12);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600133', '东湖高新', '1998-02-12', '',  72577.95, 53794.89);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600135', '乐凯胶片', '1998-01-22', '',  37299.17, 36834.3);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600136', '当代明诚', '1998-03-03', '',  48718.22, 30774.42);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600137', '浪莎股份', '1998-04-16', '',  9721.76, 9721.76);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600138', '中青旅', '1997-12-03', '',  72384, 72384);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600139', '西部资源', '1998-02-25', '',  66189.05, 66189.05);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600141', '兴发集团', '1999-06-16', '',  60598.4, 50072.09);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600143', '金发科技', '2004-06-23', '',  271678.48, 256000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600145', '*ST新亿', '1999-09-23', '',  149110.04, 149110.04);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600146', '商赢环球', '1999-07-07', '',  46997, 20000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600148', '长春一东', '1998-05-20', '',  14151.65, 14151.65);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600149', '*ST坊展', '1999-10-14', '',  38016, 38016);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600150', '中国船舶', '1998-05-20', '',  137811.76, 137811.76);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600151', '航天机电', '1998-06-05', '',  143425.23, 138869.57);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600152', '维科精华', '1998-06-09', '',  44066.07, 29349.42);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600153', '建发股份', '1998-06-16', '',  283520.05, 283520.05);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600155', '宝硕股份', '1998-09-18', '',  173955.66, 112824.22);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600156', '华升股份', '1998-05-27', '',  40211.07, 40211.07);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600157', '永泰能源', '1998-05-13', '',  1242579.53, 1242579.53);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600158', '中体产业', '1998-03-27', '',  84373.54, 65749.54);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600159', '大龙地产', '1998-05-26', '',  83000.32, 83000.32);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600160', '巨化股份', '1998-06-26', '',  211166.62, 204493.85);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600161', '天坛生物', '1998-06-16', '',  67010.69, 67010.69);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600162', '香江控股', '1998-06-09', '',  340067.14, 236605.22);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600163', '中闽能源', '1998-06-02', '',  99946.52, 75362.39);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600165', '新日恒力', '1998-05-29', '',  68488.38, 68488.38);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600166', '福田汽车', '1998-06-02', '',  667013.13, 667013.13);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600167', '联美控股', '1999-01-28', '',  88004.6, 21100);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600168', '武汉控股', '1998-04-27', '',  70956.97, 70956.97);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600169', '太原重工', '1998-09-04', '',  256395.5, 256395.5);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600170', '上海建工', '1998-06-23', '',  890439.77, 848690.99);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600171', '上海贝岭', '1998-09-24', '',  69960.95, 67380.78);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600172', '黄河旋风', '1998-11-26', '',  147631.8, 116945.16);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600173', '卧龙地产', '1999-04-15', '',  72769.75, 72505.75);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600175', '美都能源', '1999-04-08', '',  357648.88, 245103.75);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600176', '中国巨石', '1999-04-22', '',  291858.9, 291858.9);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600177', '雅戈尔', '1998-11-19', '',  358144.74, 358144.74);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600178', '东安动力', '1998-10-14', '',  46208, 46208);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600179', '安通控股', '1998-11-04', '',  106212.85, 48117.1);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600180', '瑞茂通', '1998-07-03', '',  101647.75, 88254.89);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600182', 'S佳通', '1999-05-07', '',  34000, 17000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600183', '生益科技', '1998-10-28', '',  145957.2, 145957.2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600184', '光电股份', '2003-11-06', '',  50876.08, 41876.08);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600185', '格力地产', '1999-06-11', '',  206007.95, 206007.95);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600186', '莲花健康', '1998-08-25', '',  106202.43, 106202.43);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600187', '国中水务', '1998-11-11', '',  165393.51, 145562.42);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600188', '兖州煤业', '1998-07-01', '',  491201.6, 491201.6);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600189', '吉林森工', '1998-10-07', '',  55144.22, 31050);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600190', '锦州港', '1999-06-09', '',  200229.15, 200229.15);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600191', '华资实业', '1998-12-10', '',  48493.2, 48493.2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600192', '长城电工', '1998-12-24', '',  44174.8, 44174.8);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600193', '创兴资源', '1999-05-27', '',  42537.3, 42537.3);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600195', '中牧股份', '1999-01-07', '',  42980, 42980);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600196', '复星医药', '1998-08-07', '',  249513.1, 239374.96);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600197', '伊力特', '1999-09-16', '',  44100, 44100);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600198', '大唐电信', '1998-10-21', '',  88210.85, 87019.67);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600199', '金种子酒', '1998-08-12', '',  55577.5, 55577.5);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600200', '江苏吴中', '1999-04-01', '',  72189.2, 70790.81);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600201', '生物股份', '1999-01-15', '',  89915.34, 85841.34);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600202', '哈空调', '1999-06-03', '',  38334.07, 38334.07);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600203', '福日电子', '1999-05-14', '',  45644.71, 36015.95);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600206', '有研新材', '1999-03-19', '',  84707.83, 83877.83);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600207', '安彩高科', '1999-07-14', '',  86295.6, 69000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600208', '新湖中宝', '1999-06-23', '',  859934.35, 859817.19);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600209', '罗顿发展', '1999-03-25', '',  43901.12, 42634.5);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600210', '紫江企业', '1999-08-24', '',  151673.62, 151673.62);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600211', '西藏药业', '1999-07-21', '',  17961.92, 14558.9);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600212', '江泉实业', '1999-08-17', '',  51169.72, 51169.72);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600213', '亚星客车', '1999-08-31', '',  22000, 22000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600215', '长春经开', '1999-09-09', '',  46503.29, 46503.29);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600216', '浙江医药', '1999-10-21', '',  96560.8, 94659.97);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600217', '中再资环', '1999-12-16', '',  138865.98, 72019.77);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600218', '全柴动力', '1998-12-03', '',  36875.5, 36875.5);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600219', '南山铝业', '1999-12-23', '',  925110.29, 708796.09);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600220', '江苏阳光', '1999-09-27', '',  178334.03, 178334.03);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600221', '海航控股', '1999-11-25', '',  1680612.03, 1680544.91);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600222', '太龙药业', '1999-11-05', '',  57388.63, 53766);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600223', '鲁商置业', '2000-01-13', '',  100096.8, 100096.8);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600225', '*ST松江', '2000-01-27', '',  93549.26, 93233.7);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600226', '瀚叶股份', '1999-11-16', '',  313864.01, 199286.9);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600227', '赤天化', '2000-02-21', '',  173631.91, 124540.08);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600228', '*ST昌九', '1999-01-19', '',  24132, 24132);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600229', '城市传媒', '2000-03-09', '',  70209.6, 42977.21);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600230', '沧州大化', '2000-04-06', '',  29418.82, 29418.82);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600231', '凌钢股份', '2000-05-11', '',  251916.61, 160800.44);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600232', '金鹰股份', '2000-06-02', '',  36471.85, 36471.85);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600233', '圆通速递', '2000-06-08', '',  282547.76, 78336.79);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600234', 'ST山水', '2000-06-15', '',  20244.59, 20244.59);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600235', '民丰特纸', '2000-06-15', '',  35130, 35130);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600236', '桂冠电力', '2000-03-23', '',  606336.75, 360447.08);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600237', '铜峰电子', '2000-06-09', '',  56436.96, 56436.96);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600238', '海南椰岛', '2000-01-20', '',  44820, 44500.16);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600239', '云南城投', '1999-12-02', '',  160568.69, 160568.69);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600240', '华业资本', '2000-06-28', '',  142425.36, 142425.36);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600241', '时代万恒', '2000-11-28', '',  29430.21, 19295.91);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600242', '中昌数据', '2000-12-07', '',  45666.51, 28534.1);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600243', '青海华鼎', '2000-11-20', '',  43885, 23685);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600246', '万通地产', '2000-09-22', '',  205400.93, 121680);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600247', 'ST成城', '2000-11-23', '',  33644.16, 33644.16);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600248', '延长化建', '2000-06-22', '',  61579.6, 60760.6);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600249', '两面针', '2004-01-30', '',  55000, 55000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600250', '南纺股份', '2001-03-06', '',  25869.25, 25869.25);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600251', '冠农股份', '2003-06-09', '',  78484.2, 78484.2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600252', '中恒集团', '2000-11-30', '',  347510.71, 347510.71);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600255', '梦舟股份', '2000-11-22', '',  176959.36, 176959.36);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600256', '广汇能源', '2000-05-26', '',  522142.47, 522142.47);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600257', '大湖股份', '2000-06-12', '',  48123.72, 42705);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600258', '首旅酒店', '2000-06-01', '',  81574.28, 52050.78);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600259', '广晟有色', '2000-05-25', '',  30180.23, 26212.26);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600260', '凯乐科技', '2000-07-06', '',  70884.85, 53936.91);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600261', '阳光照明', '2000-07-20', '',  145210.29, 145210.29);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600262', '北方股份', '2000-06-30', '',  17000, 17000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600265', 'ST景谷', '2000-08-25', '',  12980, 12980);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600266', '北京城建', '1999-02-03', '',  156704, 156704);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600267', '海正药业', '2000-07-25', '',  96553.18, 96553.18);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600268', '国电南自', '1999-11-18', '',  69526.52, 63524.64);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600269', '赣粤高速', '2000-05-18', '',  233540.7, 233540.7);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600270', '外运发展', '2000-12-28', '',  90548.17, 90548.17);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600271', '航天信息', '2003-07-11', '',  186285.18, 184681.19);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600272', '开开实业', '1997-01-08', '',  24300, 24000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600273', '嘉化能源', '2003-06-27', '',  148451.11, 129680.27);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600275', '*ST昌鱼', '2000-08-10', '',  50883.72, 50883.72);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600276', '恒瑞医药', '2000-10-18', '',  283264.8, 281688.3);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600277', '亿利洁能', '2000-07-25', '',  273894.01, 267400.51);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600278', '东方创业', '2000-07-12', '',  52224.17, 52224.17);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600279', '重庆港九', '2000-07-31', '',  69295.86, 69295.86);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600280', '中央商场', '2000-09-26', '',  114833.49, 114833.49);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600281', '太化股份', '2000-11-09', '',  51440.2, 51440.2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600282', '南钢股份', '2000-09-19', '',  440897.75, 387575.25);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600283', '钱江水利', '2000-10-18', '',  35299.58, 35299.58);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600284', '浦东建设', '2004-03-16', '',  69304, 69304);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600285', '羚锐制药', '2000-10-18', '',  59232.08, 53543.46);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600287', '江苏舜天', '2000-09-01', '',  43679.61, 43679.61);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600288', '大恒科技', '2000-11-29', '',  43680, 43680);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600289', 'ST信通', '2000-07-20', '',  63105.21, 56592.27);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600290', '华仪电气', '2000-11-06', '',  75990.35, 52688.37);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600291', '西水股份', '2000-07-31', '',  109306.44, 97889.08);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600292', '远达环保', '2000-11-01', '',  78081.69, 78081.69);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600293', '三峡新材', '2000-09-19', '',  116213.2, 51675.39);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600295', '鄂尔多斯', '1995-10-20', '',  103200, 103200);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600297', '广汇汽车', '2000-11-16', '',  814430.97, 239177.71);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600298', '安琪酵母', '2000-08-18', '',  82408.09, 82408.09);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600299', '安迪苏', '2000-04-20', '',  268190.13, 57455.94);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600300', '维维股份', '2000-06-30', '',  167200, 167200);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600301', 'ST南化', '2000-07-12', '',  23514.81, 23514.81);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600302', '标准股份', '2000-12-13', '',  34600.98, 34600.98);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600303', '曙光股份', '2000-12-26', '',  67560.42, 62032.43);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600305', '恒顺醋业', '2001-02-06', '',  60273.8, 60273.8);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600306', '商业城', '2000-12-26', '',  17813.89, 17740.57);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600307', '酒钢宏兴', '2000-12-20', '',  626335.74, 626335.74);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600308', '华泰股份', '2000-09-28', '',  116756.14, 116756.14);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600309', '万华化学', '2000-01-05', '',  273401.28, 273401.28);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600310', '桂东电力', '2001-02-28', '',  82777.5, 82777.5);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600311', '荣华实业', '2001-06-26', '',  66560, 66560);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600312', '平高电气', '2001-02-21', '',  135692.13, 135692.13);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600313', '农发种业', '2001-01-19', '',  108219.87, 99359.65);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600315', '上海家化', '2001-03-15', '',  67171.35, 67124.85);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600316', '洪都航空', '2000-12-15', '',  71711.45, 71711.45);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600317', '营口港', '2002-01-31', '',  647298.3, 647298.3);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600318', '新力金融', '2000-12-08', '',  48400, 48400);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600319', '亚星化学', '2001-03-26', '',  31559.4, 31559.4);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600320', '振华重工', '2000-12-21', '',  439029.46, 439029.46);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600321', '正源股份', '2001-05-24', '',  151055, 151055);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600322', '天房发展', '2001-09-10', '',  110570, 110570);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600323', '瀚蓝环境', '2000-12-25', '',  76626.4, 76626.4);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600325', '华发股份', '2004-02-25', '',  211831.31, 191420.21);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600326', '西藏天路', '2001-01-16', '',  86538.45, 86538.45);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600327', '大东方', '2002-06-25', '',  56716.64, 56716.64);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600328', '兰太实业', '2000-12-22', '',  43803.11, 43803.11);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600329', '中新药业', '2001-06-06', '',  76887.31, 76576.81);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600330', '天通股份', '2001-01-18', '',  83047.14, 83047.14);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600331', '宏达股份', '2001-12-20', '',  203200, 203200);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600332', '白云山', '2001-02-06', '',  162579.09, 129107.93);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600333', '长春燃气', '2000-12-11', '',  60903.07, 52961.98);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600335', '国机汽车', '2001-03-05', '',  102973.68, 102973.68);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600336', '澳柯玛', '2000-12-29', '',  77675.33, 73033.7);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600337', '美克家居', '2000-11-27', '',  180610.08, 148340.85);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600338', '西藏珠峰', '2000-12-27', '',  65300.73, 15833.33);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600339', '中油工程', '2000-12-25', '',  558314.75, 155218.07);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600340', '华夏幸福', '2003-12-30', '',  295494.67, 295494.67);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600343', '航天动力', '2003-04-08', '',  63820.63, 63820.63);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600345', '长江通信', '2000-12-22', '',  19800, 19800);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600346', '恒力股份', '2001-08-20', '',  454508.99, 91935.91);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600348', '阳泉煤业', '2003-08-21', '',  240500, 240500);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600350', '山东高速', '2002-03-18', '',  481116.59, 481116.59);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600351', '亚宝药业', '2002-09-26', '',  78704.15, 69200);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600352', '浙江龙盛', '2003-08-01', '',  325333.19, 325333.19);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600353', '旭光股份', '2002-11-20', '',  54372, 54372);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600354', '敦煌种业', '2004-01-15', '',  52780.21, 44780.21);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600355', '精伦电子', '2002-06-13', '',  49208.92, 49208.92);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600356', '恒丰纸业', '2001-04-19', '',  29873.14, 29873.14);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600358', '国旅联合', '2000-09-22', '',  50493.67, 43200);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600359', '新农开发', '1999-04-29', '',  38151.28, 38151.28);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600360', '华微电子', '2001-03-16', '',  75158.8, 73827.8);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600361', '华联综超', '2001-11-29', '',  66580.79, 66580.79);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600362', '江西铜业', '2002-01-11', '',  346272.94, 346272.94);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600363', '联创光电', '2001-03-29', '',  44347.68, 44347.68);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600365', '通葡股份', '2001-01-15', '',  40000, 40000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600366', '宁波韵升', '2000-10-30', '',  55707.19, 54083.85);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600367', '红星发展', '2001-03-20', '',  29120, 29120);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600368', '五洲交通', '2000-12-21', '',  83380.15, 83380.15);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600369', '西南证券', '2001-01-09', '',  564510.91, 564510.91);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600370', '三房巷', '2003-03-06', '',  79724.42, 79724.42);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600371', '万向德农', '2002-09-16', '',  22506, 22506);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600372', '中航电子', '2001-07-06', '',  175916.29, 175916.29);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600373', '中文传媒', '2002-03-04', '',  137794, 137794);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600375', '华菱星马', '2003-04-01', '',  55574.06, 55574.06);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600376', '首开股份', '2001-03-12', '',  257956.52, 254581);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600377', '宁沪高速', '2001-01-16', '',  503774.75, 501998.14);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600378', '天科股份', '2001-01-11', '',  29719.33, 29719.33);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600379', '宝光股份', '2002-01-16', '',  23585.83, 23585.83);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600380', '健康元', '2001-06-08', '',  157377.83, 156222.53);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600381', '青海春天', '2001-05-08', '',  63075.4, 21191.07);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600382', '广东明珠', '2001-01-18', '',  46682.47, 34174.66);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600383', '金地集团', '2001-04-12', '',  451458.36, 451458.36);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600385', '山东金泰', '2001-07-23', '',  14810.71, 14277.38);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600386', '北巴传媒', '2001-02-16', '',  80640, 80640);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600387', '海越股份', '2004-02-18', '',  46573.25, 38571);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600388', '龙净环保', '2000-12-29', '',  106905, 106905);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600389', '江山股份', '2001-01-10', '',  29700, 29700);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600390', '五矿资本', '2001-01-15', '',  374838.79, 51353.77);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600391', '航发科技', '2001-12-12', '',  33012.94, 33012.94);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600392', '盛和资源', '2003-05-29', '',  135012.85, 107355.2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600393', '粤泰股份', '2001-03-19', '',  253624.79, 98820.56);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600395', '盘江股份', '2001-05-31', '',  165505.19, 165505.19);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600396', '金山股份', '2001-03-28', '',  147270.68, 116464.52);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600397', '安源煤业', '2002-07-02', '',  98995.99, 98995.99);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600398', '海澜之家', '2000-12-28', '',  449275.79, 449275.79);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600399', '抚顺特钢', '2000-12-29', '',  130000, 112962.28);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600400', '红豆股份', '2001-01-08', '',  180946.92, 144992.08);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600401', '*ST海润', '2003-09-24', '',  472493.52, 472493.52);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600403', '*ST大有', '2003-10-09', '',  239081.24, 239081.24);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600405', '动力源', '2004-04-01', '',  56204.04, 55327.54);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600406', '国电南瑞', '2003-10-16', '',  420197.06, 220575.36);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600408', '安泰集团', '2003-02-12', '',  100680, 100680);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600409', '三友化工', '2003-06-18', '',  206434.94, 185038.55);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600410', '华胜天成', '2004-04-27', '',  110284.06, 109389.44);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600415', '小商品城', '2002-05-09', '',  544321.42, 544321.42);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600416', '湘电股份', '2002-07-18', '',  94583.43, 88144.16);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600418', '江淮汽车', '2001-08-24', '',  189331.21, 144743.72);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600419', '天润乳业', '2001-06-28', '',  10355.72, 8949.9);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600420', '现代制药', '2004-06-16', '',  110976.74, 57546.68);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600421', 'ST仰帆', '2004-06-07', '',  19560, 19560);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600422', '昆药集团', '2000-12-06', '',  78619.77, 67586.04);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600423', '*ST柳化', '2003-07-17', '',  39934.75, 39934.75);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600425', '*ST青松', '2003-07-24', '',  137879.01, 137879.01);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600426', '华鲁恒升', '2002-06-20', '',  162036.36, 161453);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600428', '中远海特', '2002-04-18', '',  214665.08, 169044.64);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600429', '三元股份', '2003-09-15', '',  149755.74, 88500);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600433', '冠豪高新', '2003-06-19', '',  127131.54, 127131.54);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600435', '北方导航', '2003-07-04', '',  148932, 148932);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600436', '片仔癀', '2003-06-16', '',  60331.72, 60331.72);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600438', '通威股份', '2004-03-02', '',  388237.22, 278248.14);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600439', '瑞贝卡', '2003-07-10', '',  113198.54, 113198.54);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600444', '国机通用', '2004-02-19', '',  14642.19, 10500);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600446', '金证股份', '2003-12-24', '',  85321.05, 80140.95);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600448', '华纺股份', '2001-09-03', '',  52484.97, 42236.41);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600449', '宁夏建材', '2003-08-29', '',  47818.1, 47818.1);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600452', '涪陵电力', '2004-03-03', '',  16000, 16000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600455', '博通股份', '2004-03-29', '',  6245.8, 6245.8);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600456', '宝钛股份', '2002-04-12', '',  43026.57, 43026.57);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600458', '时代新材', '2002-12-19', '',  80279.82, 66142.21);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600459', '贵研铂业', '2003-05-16', '',  26097.77, 26097.77);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600460', '士兰微', '2003-03-11', '',  131206.16, 124716.8);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600461', '洪城水业', '2004-06-01', '',  78959.36, 59400);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600462', '九有股份', '2003-09-03', '',  53378, 53378);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600463', '空港股份', '2004-03-18', '',  30000, 25200);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600466', '蓝光发展', '2001-02-12', '',  213429.71, 212363.3);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600467', '好当家', '2004-04-05', '',  146099.43, 146099.43);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600468', '百利电气', '2001-06-15', '',  81111.35, 79843.1);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600469', '风神股份', '2003-10-21', '',  56241.32, 56241.32);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600470', '六国化工', '2004-03-05', '',  52160, 52160);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600475', '华光股份', '2003-07-21', '',  55939.22, 14049.55);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600476', '湘邮科技', '2003-12-10', '',  16107, 16107);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600477', '杭萧钢构', '2003-11-10', '',  137442.06, 126000.12);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600478', '科力远', '2003-09-18', '',  146968.67, 127503.5);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600479', '千金药业', '2004-03-12', '',  34875.59, 30481.92);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600480', '凌云股份', '2003-08-15', '',  45507.1, 36171.48);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600481', '双良节能', '2003-04-22', '',  162049.58, 162049.58);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600482', '中国动力', '2004-07-14', '',  173407.09, 90890.35);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600483', '福能股份', '2004-05-31', '',  155182.56, 125834.73);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600485', '信威集团', '2003-08-07', '',  292374.28, 163144.32);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600486', '扬农化工', '2002-04-25', '',  30989.89, 30989.89);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600487', '亨通光电', '2003-08-22', '',  135977.56, 124126.91);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600488', '天药股份', '2001-06-18', '',  109188.67, 96085.5);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600489', '中金黄金', '2003-08-14', '',  345113.72, 345113.72);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600490', '鹏欣资源', '2003-06-26', '',  189136.69, 148744.97);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600491', '龙元建设', '2004-05-24', '',  126210, 94760);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600493', '凤竹纺织', '2004-04-21', '',  27200, 27200);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600495', '晋西车轴', '2004-05-26', '',  120819.09, 120819.09);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600496', '精工钢构', '2002-06-05', '',  151044.52, 151044.52);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600497', '驰宏锌锗', '2004-04-20', '',  509129.16, 430989.82);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600498', '烽火通信', '2001-08-23', '',  111393.9, 101848.27);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600499', '科达洁能', '2002-10-10', '',  157720.57, 141146.43);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600500', '中化国际', '2000-03-01', '',  208301.27, 208301.27);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600501', '航天晨光', '2001-06-15', '',  42128.36, 40688.36);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600502', '安徽水利', '2003-04-15', '',  143430.02, 75894.17);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600503', '华丽家族', '2002-07-09', '',  160229, 160229);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600505', '西昌电力', '2002-05-30', '',  36456.75, 36456.75);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600506', '香梨股份', '2001-12-26', '',  14770.69, 14770.69);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600507', '方大特钢', '2003-09-30', '',  132609.3, 132609.3);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600508', '上海能源', '2001-08-29', '',  72271.8, 72271.8);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600509', '天富能源', '2002-02-28', '',  115141.5, 90569.66);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600510', '黑牡丹', '2002-06-18', '',  104709.5, 79552.27);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600511', '国药股份', '2002-11-27', '',  76693.37, 27764.34);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600512', '腾达建设', '2002-12-26', '',  159890.28, 153739.94);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600513', '联环药业', '2003-03-19', '',  28545.63, 28545.63);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600515', '海航基础', '2002-08-06', '',  390759.25, 165829.54);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600516', '方大炭素', '2002-08-30', '',  178879.44, 171916.04);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600517', '置信电气', '2003-10-10', '',  135616.78, 124452.23);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600518', '康美药业', '2001-03-19', '',  497425.37, 440319.2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600519', '贵州茅台', '2001-08-27', '',  125619.78, 125619.78);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600520', '文一科技', '2002-01-08', '',  15843, 15843);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600521', '华海药业', '2003-03-04', '',  104249.03, 102697.27);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600522', '中天科技', '2002-10-24', '',  306607.25, 273114.56);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600523', '贵航股份', '2001-12-27', '',  28879.38, 28860.33);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600525', '长园集团', '2002-12-02', '',  132467.72, 125344.21);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600526', '菲达环保', '2002-07-22', '',  54740.47, 40688.95);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600527', '江南高纤', '2003-11-27', '',  96208.94, 80208.94);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600528', '中铁工业', '2001-05-28', '',  222155.16, 183774.89);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600529', '山东药玻', '2002-06-03', '',  30355.5, 25738.01);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600530', '交大昂立', '2001-07-02', '',  78000, 78000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600531', '豫光金铅', '2002-07-30', '',  109024.26, 109024.26);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600532', '宏达矿业', '2002-10-31', '',  51606.57, 39623.44);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600533', '栖霞建设', '2002-03-28', '',  105000, 105000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600535', '天士力', '2002-08-23', '',  108047.59, 108047.59);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600536', '中国软件', '2002-05-17', '',  49456.28, 49456.28);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600537', '亿晶光电', '2003-01-23', '',  117635.93, 117635.93);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600538', '国发股份', '2003-01-14', '',  46440.12, 46440.12);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600539', '狮头股份', '2001-08-24', '',  23000, 23000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600540', '*ST新赛', '2004-01-07', '',  47092.33, 47092.33);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600543', '莫高股份', '2004-03-24', '',  32112, 32112);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600545', '卓郎智能', '2003-12-03', '',  189541.3, 67578.58);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600546', '山煤国际', '2003-07-31', '',  198245.61, 198245.61);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600547', '山东黄金', '2003-08-28', '',  185711.88, 145150.07);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600548', '深高速', '2001-12-25', '',  218077.03, 218077.03);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600549', '厦门钨业', '2002-11-07', '',  108715.87, 108157.4);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600550', '保变电气', '2001-02-28', '',  153460.71, 153460.71);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600551', '时代出版', '2002-09-05', '',  50582.53, 50582.53);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600552', '凯盛科技', '2002-11-08', '',  76704.96, 74089.4);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600555', '海航创新', '2001-03-28', '',  130350, 130350);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600556', 'ST慧球', '2001-08-07', '',  39479.37, 39479.37);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600557', '康缘药业', '2002-09-18', '',  61644.91, 59853.12);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600558', '大西洋', '2001-02-27', '',  89760.48, 89760.48);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600559', '老白干酒', '2002-10-29', '',  43806.02, 35000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600560', '金自天正', '2002-09-19', '',  22364.55, 22364.55);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600561', '江西长运', '2002-07-16', '',  23706.4, 23706.4);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600562', '国睿科技', '2003-01-28', '',  47873.13, 32764.59);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600563', '法拉电子', '2002-12-10', '',  22500, 22500);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600565', '迪马股份', '2002-07-23', '',  242042.23, 236610.93);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600566', '济川药业', '2001-08-22', '',  80962.4, 80962.4);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600567', '山鹰纸业', '2001-12-18', '',  457031.33, 457031.33);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600568', '中珠医疗', '2001-05-18', '',  199286.97, 166906.73);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600569', '安阳钢铁', '2001-08-20', '',  239368.45, 239368.45);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600570', '恒生电子', '2003-12-16', '',  61780.52, 61780.52);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600571', '信雅达', '2002-11-01', '',  43967.92, 42426.21);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600572', '康恩贝', '2004-04-12', '',  266732.02, 205773.81);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600573', '惠泉啤酒', '2003-02-26', '',  25000, 25000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600575', '皖江物流', '2003-03-28', '',  388626.11, 312513.21);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600576', '祥源文化', '2003-02-20', '',  64830, 47980.48);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600577', '精达股份', '2002-09-11', '',  195532.42, 195532.42);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600578', '京能电力', '2002-05-10', '',  674673.45, 461732.1);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600579', '天华院', '2002-08-09', '',  41063.6, 41063.6);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600580', '卧龙电气', '2002-06-06', '',  128889.96, 111052.72);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600581', '八一钢铁', '2002-08-16', '',  76644.89, 76644.89);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600582', '天地科技', '2002-05-15', '',  413858.89, 413858.89);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600583', '海油工程', '2002-02-05', '',  442135.48, 442135.48);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600584', '长电科技', '2003-06-03', '',  135984.4, 98457);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600585', '海螺水泥', '2002-02-07', '',  529930.26, 529930.26);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600586', '金晶科技', '2002-08-15', '',  145830.21, 143350.28);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600587', '新华医疗', '2002-09-27', '',  40642.81, 40346.67);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600588', '用友网络', '2001-05-18', '',  146421.78, 144103.96);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600589', '广东榕泰', '2001-06-12', '',  70530.58, 62708.54);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600590', '泰豪科技', '2002-07-03', '',  66696.06, 51246.18);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600592', '龙溪股份', '2002-08-05', '',  39955.36, 39955.36);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600593', '大连圣亚', '2002-07-11', '',  9200, 9200);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600594', '益佰制药', '2004-03-23', '',  79192.74, 79192.74);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600595', '中孚实业', '2002-06-26', '',  196122.41, 174154.04);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600596', '新安股份', '2001-09-06', '',  70541.46, 67918.46);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600597', '光明乳业', '2002-08-28', '',  122448.75, 122430.2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600598', '北大荒', '2002-03-29', '',  177767.99, 177767.99);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600599', '熊猫金控', '2001-08-28', '',  16600, 16600);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600600', '青岛啤酒', '1993-08-27', '',  135098.28, 135098.28);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600601', '方正科技', '1990-12-19', '',  219489.12, 219489.12);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600602', '云赛智联', '1990-12-19', '',  136767.35, 117294.31);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600603', '广汇物流', '1992-01-13', '',  87887.48, 27249.87);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600604', '市北高新', '1992-03-27', '',  187330.48, 150838);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600605', '汇通能源', '1992-03-27', '',  14734.46, 14734.46);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600606', '绿地控股', '1992-03-27', '',  1216815.44, 322336.83);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600608', 'ST沪科', '1992-03-27', '',  32886.14, 31837.14);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600609', '金杯汽车', '1992-07-24', '',  109266.71, 109266.71);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600610', '中毅达', '1992-08-05', '',  107127.46, 73593.46);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600611', '大众交通', '1992-08-07', '',  236412.29, 236412.29);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600612', '老凤祥', '1992-08-14', '',  52311.78, 52311.78);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600613', '神奇制药', '1992-08-20', '',  53407.16, 53407.16);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600614', '鹏起科技', '1992-08-28', '',  175277.38, 153215.67);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600615', '丰华股份', '1992-09-10', '',  18802.05, 18762.45);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600616', '金枫酒业', '1992-09-29', '',  51461.92, 51461.92);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600617', '国新能源', '1992-10-13', '',  108466.37, 100816.37);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600618', '氯碱化工', '1992-11-13', '',  115640, 115640);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600619', '海立股份', '1992-11-13', '',  86631.07, 74474.02);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600620', '天宸股份', '1992-11-17', '',  68667.71, 68667.71);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600621', '华鑫股份', '1992-12-02', '',  106089.93, 52408.24);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600622', '光大嘉宝', '1992-12-03', '',  88738.78, 66859.49);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600623', '华谊集团', '1992-12-04', '',  211743.09, 117664.59);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600624', '复旦复华', '1993-01-05', '',  68471.2, 68471.2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600626', '申达股份', '1993-01-07', '',  71024.28, 71024.28);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600628', '新世界', '1993-01-09', '',  64687.54, 53179.93);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600629', '华建集团', '1993-02-09', '',  43220.81, 36181.33);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600630', '龙头股份', '1993-02-09', '',  42486.16, 42486.16);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600633', '浙数文化', '1993-03-04', '',  130192.4, 129026.89);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600634', '富控互动', '1993-03-04', '',  57573.21, 57573.21);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600635', '大众公用', '1993-03-04', '',  295243.47, 295243.47);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600636', '*ST爱富', '1993-03-16', '',  44694.19, 42613.17);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600637', '东方明珠', '1993-03-16', '',  264125.23, 217989.83);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600638', '新黄浦', '1993-03-26', '',  56116.4, 56116.4);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600639', '浦东金桥', '1993-03-26', '',  112241.29, 97534.25);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600640', '号百控股', '1993-04-07', '',  79569.59, 58939.97);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600641', '万业企业', '1993-04-07', '',  80615.87, 80615.87);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600642', '申能股份', '1993-04-16', '',  455203.83, 455203.83);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600643', '爱建集团', '1993-04-26', '',  162192.25, 143402.79);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600644', '乐山电力', '1993-04-26', '',  53840.07, 53840.07);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600645', '中源协和', '1993-05-04', '',  38430.33, 38377.46);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600647', '同达创业', '1993-05-04', '',  13914.36, 13914.36);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600648', '外高桥', '1993-05-04', '',  113534.91, 113534.91);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600649', '城投控股', '1993-05-18', '',  252957.56, 242079.22);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600650', '锦江投资', '1993-06-07', '',  55161.01, 55161.01);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600651', '飞乐音响', '1986-09-26', '',  99147.97, 98522);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600652', '游久游戏', '1990-12-19', '',  83270.35, 83270.35);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600653', '申华控股', '1990-12-19', '',  194638.03, 174638.03);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600654', '*ST中安', '1990-12-19', '',  128302.1, 75504.32);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600655', '豫园股份', '1992-09-02', '',  143732.2, 143732.2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600657', '信达地产', '1993-05-24', '',  152426.04, 152426.04);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600658', '电子城', '1993-05-24', '',  79898.93, 79898.93);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600660', '福耀玻璃', '1993-06-10', '',  250861.75, 250861.75);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600661', '新南洋', '1993-06-14', '',  28654.88, 25907.65);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600662', '强生控股', '1993-06-14', '',  105336.22, 105336.22);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600663', '陆家嘴', '1993-06-28', '',  336183.12, 336183.12);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600664', '哈药股份', '1993-06-29', '',  254495.33, 249272.83);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600665', '天地源', '1993-07-09', '',  86412.25, 86412.25);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600666', '奥瑞德', '1993-07-12', '',  122732.62, 80365.55);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600667', '太极实业', '1993-07-28', '',  210619.02, 119127.43);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600668', '尖峰集团', '1993-07-28', '',  34408.38, 34408.38);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600671', '天目药业', '1993-08-23', '',  12177.89, 12172.05);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600673', '东阳光科', '1993-09-17', '',  246887.39, 245741.62);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600674', '川投能源', '1993-09-24', '',  440214.05, 440214.05);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600675', '中华企业', '1993-09-24', '',  186705.94, 186705.94);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600676', '交运股份', '1993-09-28', '',  102849.29, 96204.53);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600677', '航天通信', '1993-09-28', '',  52179.17, 41642.81);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600678', '四川金顶', '1993-10-08', '',  34899, 34899);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600679', '上海凤凰', '1993-10-08', '',  40219.89, 36285.94);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600680', '*ST上普', '1993-10-18', '',  38222.53, 38222.53);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600681', '百川能源', '1993-10-18', '',  103151.38, 32745.59);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600682', '南京新百', '1993-10-18', '',  111197.45, 86066.15);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600683', '京投发展', '1993-10-25', '',  74077.76, 74077.76);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600684', '珠江实业', '1993-10-28', '',  85346.07, 85346.07);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600685', '中船防务', '1993-10-28', '',  141350.64, 114140.71);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600686', '金龙汽车', '1993-11-08', '',  60673.85, 44259.71);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600687', '刚泰控股', '1993-11-08', '',  148871.53, 107853.94);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600688', '上海石化', '1993-11-08', '',  1082381.35, 1082381.35);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600689', '上海三毛', '1993-11-08', '',  20099.13, 20099.13);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600690', '青岛海尔', '1993-11-19', '',  609740.27, 609740.27);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600691', '阳煤化工', '1993-11-19', '',  175678.69, 175639.09);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600692', '亚通股份', '1993-11-19', '',  35176.41, 25501.05);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600693', '东百集团', '1993-11-22', '',  89822.91, 89724.76);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600694', '大商股份', '1993-11-22', '',  29371.87, 29371.87);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600695', '绿庭投资', '1993-11-22', '',  71113.21, 71113.21);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600696', 'ST匹凸', '1993-12-06', '',  34056.56, 34056.56);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600697', '欧亚集团', '1993-12-06', '',  15908.81, 15515.6);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600698', '湖南天雁', '1993-12-06', '',  97181.74, 96690.09);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600699', '均胜电子', '1993-12-06', '',  94928.9, 94928.9);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600701', '工大高新', '1996-05-28', '',  103473.52, 77587.85);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600702', '舍得酒业', '1996-05-24', '',  33730, 33730);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600703', '三安光电', '1996-05-28', '',  407842.49, 407842.49);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600704', '物产中大', '1996-06-06', '',  430668.24, 133769.54);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600705', '中航资本', '1996-05-16', '',  897632.58, 761855.11);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600706', '曲江文旅', '1996-05-16', '',  17950.97, 17790.87);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600707', '彩虹股份', '1996-05-20', '',  358838.97, 73603.77);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600708', '光明地产', '1996-06-06', '',  171433.6, 98889.03);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600710', '苏美达', '1996-07-01', '',  130674.94, 64028.4);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600711', '盛屯矿业', '1996-05-31', '',  167669.86, 149705.23);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600712', '南宁百货', '1996-06-26', '',  54465.54, 53795.95);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600713', '南京医药', '1996-07-01', '',  104161.12, 89742.56);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600714', '金瑞矿业', '1996-06-06', '',  28817.63, 28817.63);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600715', '文投控股', '1996-07-01', '',  185485.35, 44851.2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600716', '凤凰股份', '1996-07-02', '',  93606.06, 91022.08);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600717', '天津港', '1996-06-14', '',  167476.91, 167476.91);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600718', '东软集团', '1996-06-18', '',  124267.8, 123662.55);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600719', '大连热电', '1996-07-16', '',  40459.96, 40459.96);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600720', '祁连山', '1996-07-16', '',  77629.03, 77616.27);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600721', '百花村', '1996-06-26', '',  40038.64, 30255.26);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600722', '金牛化工', '1996-06-26', '',  68031.97, 68031.97);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600723', '首商股份', '1996-07-16', '',  65840.76, 65806.96);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600724', '宁波富达', '1996-07-16', '',  144524.11, 144494.27);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600725', 'ST云维', '1996-07-02', '',  123247, 123247);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600726', '华电能源', '1996-07-01', '',  196667.52, 196667.52);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600727', '鲁北化工', '1996-07-02', '',  35098.66, 35092.66);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600728', '佳都科技', '1996-07-16', '',  161733.99, 137850.59);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600729', '重庆百货', '1996-07-02', '',  40652.85, 40642.65);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600730', '中国高科', '1996-07-26', '',  58665.6, 58665.6);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600731', '湖南海利', '1996-08-02', '',  35522.27, 32665.31);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600732', 'ST新梅', '1996-08-16', '',  44638.31, 44638.31);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600733', 'SST前锋', '1996-08-16', '',  19758.6, 7560);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600734', '实达集团', '1996-08-08', '',  62351.58, 35222.31);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600735', '新华锦', '1996-07-26', '',  37599.23, 37599.23);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600736', '苏州高新', '1996-08-15', '',  119429.29, 113895.09);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600737', '中粮糖业', '1996-07-31', '',  205187.62, 205187.62);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600738', '兰州民百', '1996-08-02', '',  78309.54, 36819.86);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600739', '辽宁成大', '1996-08-19', '',  152970.98, 136470.98);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600740', '山西焦化', '1996-08-08', '',  76570, 65683.28);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600741', '华域汽车', '1996-08-26', '',  315272.4, 286650.91);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600742', '一汽富维', '1996-08-26', '',  42304.68, 42304.68);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600743', '华远地产', '1996-09-09', '',  234610.09, 234610.09);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600744', '华银电力', '1996-09-05', '',  178112.43, 82763.44);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600745', '闻泰科技', '1996-08-28', '',  48332.04, 48332.04);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600746', '江苏索普', '1996-09-18', '',  30642.15, 30466.09);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600747', '*ST大控', '1996-09-16', '',  146432.84, 106432.84);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600748', '上实发展', '1996-09-25', '',  184456.29, 140838.21);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600749', '西藏旅游', '1996-10-15', '',  22696.55, 18913.79);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600750', '江中药业', '1996-09-23', '',  30000, 30000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600751', '天海投资', '1996-09-09', '',  289933.78, 289933.78);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600753', '东方银星', '1996-09-27', '',  12800, 12800);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600754', '锦江股份', '1996-10-11', '',  95793.64, 80451.77);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600755', '厦门国贸', '1996-10-03', '',  181625.97, 181625.97);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600756', '浪潮软件', '1996-09-23', '',  32409.88, 32409.88);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600757', '长江传媒', '1996-10-03', '',  121365.03, 121349.71);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600758', '红阳能源', '1996-10-29', '',  133140.89, 67634.14);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600759', '洲际油气', '1996-10-08', '',  226350.75, 225818.4);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600760', '中航沈飞', '1996-10-11', '',  139721.83, 34494.51);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600761', '安徽合力', '1996-10-09', '',  74018.08, 74018.08);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600763', '通策医疗', '1996-10-30', '',  32064, 32064);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600764', '中国海防', '1996-11-04', '',  39576.75, 32972.7);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600765', '中航重机', '1996-11-06', '',  77800.32, 77800.32);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600766', '园城黄金', '1996-10-28', '',  22422.68, 22393.21);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600767', '*ST运盛', '1996-11-15', '',  34101.02, 34091.02);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600768', '宁波富邦', '1996-11-11', '',  13374.72, 13374.72);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600769', '祥龙电业', '1996-11-01', '',  37497.72, 37497.72);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600770', '综艺股份', '1996-11-20', '',  130000, 130000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600771', '广誉远', '1996-11-05', '',  35311.13, 26830.52);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600773', '西藏城投', '1996-11-08', '',  81966.07, 72921.37);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600774', '汉商集团', '1996-11-08', '',  17457.54, 17442.9);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600775', '南京熊猫', '1996-11-18', '',  91383.85, 91383.85);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600776', '东方通信', '1996-11-26', '',  125600.01, 125600.01);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600777', '新潮能源', '1996-11-21', '',  680049.58, 237660.85);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600778', '友好集团', '1996-12-03', '',  31149.14, 31108.67);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600779', '水井坊', '1996-12-06', '',  48854.57, 48854.57);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600780', '通宝能源', '1996-12-05', '',  114650.25, 114650.25);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600781', '辅仁药业', '1996-12-18', '',  62715.75, 17759.29);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600782', '新钢股份', '1996-12-25', '',  318872.27, 278689.62);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600783', '鲁信创投', '1996-12-25', '',  74435.93, 74435.93);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600784', '鲁银投资', '1996-12-25', '',  56817.78, 56817.78);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600785', '新华百货', '1997-01-08', '',  22563.13, 22563.13);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600787', '中储股份', '1997-01-21', '',  219980.1, 185982.84);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600789', '鲁抗医药', '1997-02-26', '',  58157.55, 58157.55);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600790', '轻纺城', '1997-02-28', '',  104699.35, 104699.35);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600791', '京能置业', '1997-01-30', '',  45288, 45231.37);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600792', '云煤能源', '1997-01-23', '',  98992.36, 98992.36);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600793', '宜宾纸业', '1997-02-20', '',  10530, 10530);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600794', '保税科技', '1997-03-06', '',  121215.22, 119157.42);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600795', '国电电力', '1997-03-18', '',  1965039.78, 1965039.78);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600796', '钱江生化', '1997-04-08', '',  30140.21, 30140.21);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600797', '浙大网新', '1997-04-18', '',  105598.8, 83990.36);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600798', '宁波海运', '1997-04-23', '',  103085.09, 103085.09);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600800', '天津磁卡', '1993-12-06', '',  61127.1, 61095.6);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600801', '华新水泥', '1994-01-03', '',  149757.13, 149757.13);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600802', '福建水泥', '1994-01-03', '',  38187.37, 38187.37);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600803', '新奥股份', '1994-01-03', '',  122935.58, 122935.58);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600804', '鹏博士', '1994-01-03', '',  143245.65, 143235.79);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600805', '悦达投资', '1994-01-03', '',  85089.45, 85027.54);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600807', '天业股份', '1994-01-03', '',  88463.47, 78701.85);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600808', '马钢股份', '1994-01-06', '',  770068.12, 770068.12);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600809', '山西汾酒', '1994-01-06', '',  86584.83, 86584.83);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600810', '神马股份', '1994-01-06', '',  44228, 44228);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600811', '东方集团', '1994-01-06', '',  371457.61, 327347.33);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600812', '华北制药', '1994-01-14', '',  163080.47, 163080.47);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600814', '杭州解百', '1994-01-14', '',  71502.68, 71502.68);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600815', '*ST厦工', '1994-01-28', '',  95897, 95897);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600816', '安信信托', '1994-01-28', '',  455761.49, 249760.38);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600817', '*ST宏盛', '1994-01-28', '',  16091.01, 15567.91);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600818', '中路股份', '1994-01-28', '',  32144.79, 32144.79);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600819', '耀皮玻璃', '1994-01-28', '',  93491.61, 93491.61);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600820', '隧道股份', '1994-01-28', '',  314409.61, 314409.61);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600821', '津劝业', '1994-01-28', '',  41626.82, 41626.82);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600822', '上海物贸', '1994-02-04', '',  49597.29, 49597.29);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600823', '世茂股份', '1994-02-04', '',  375116.83, 375116.83);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600824', '益民集团', '1994-02-04', '',  105402.71, 105402.71);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600825', '新华传媒', '1994-02-04', '',  104488.79, 104488.79);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600826', '兰生股份', '1994-02-04', '',  42064.23, 42064.23);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600827', '百联股份', '1994-02-04', '',  178416.81, 172249.58);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600828', '茂业商业', '1994-02-24', '',  173198.25, 64057.17);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600829', '人民同泰', '1994-02-24', '',  57988.86, 57988.86);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600830', '香溢融通', '1994-02-24', '',  45432.27, 45432.27);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600831', '广电网络', '1994-02-24', '',  60496.77, 56343.85);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600833', '第一医药', '1994-02-24', '',  22308.63, 22308.63);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600834', '申通地铁', '1994-02-24', '',  47738.19, 47738.19);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600835', '上海机电', '1994-02-24', '',  102273.93, 102273.93);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600836', '界龙实业', '1994-02-24', '',  66275.31, 65302.41);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600837', '海通证券', '1994-02-24', '',  1150170, 1150170);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600838', '上海九百', '1994-02-24', '',  40088.2, 40088.2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600839', '四川长虹', '1994-03-11', '',  461624.42, 461429.06);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600841', '上柴股份', '1994-03-11', '',  86668.98, 86668.98);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600843', '上工申贝', '1994-03-11', '',  54858.96, 54858.96);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600844', '丹化科技', '1994-03-11', '',  101652.42, 101652.42);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600845', '宝信软件', '1994-03-11', '',  79101.92, 75273.19);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600846', '同济科技', '1994-03-11', '',  62476.15, 62476.15);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600847', '*ST万里', '1994-03-24', '',  15328.74, 15328.74);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600848', '上海临港', '1994-03-24', '',  111991.93, 50669.9);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600850', '华东电脑', '1994-03-24', '',  42269.31, 42269.31);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600851', '海欣股份', '1994-04-04', '',  120705.67, 120705.67);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600853', '龙建股份', '1994-04-04', '',  53680.77, 53680.77);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600854', '春兰股份', '1994-04-25', '',  51945.85, 51945.85);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600855', '航天长峰', '1994-04-25', '',  33161.74, 33011.44);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600856', '中天能源', '1994-04-25', '',  136665.44, 113433.12);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600857', '宁波中百', '1994-04-25', '',  22431.99, 22431.99);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600858', '银座股份', '1994-05-06', '',  52006.66, 51754.8);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600859', '王府井', '1994-05-06', '',  77625.04, 30520.82);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600860', '京城股份', '1994-05-06', '',  42200, 42200);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600861', '北京城乡', '1994-05-20', '',  31680.49, 31680.49);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600862', '中航高科', '1994-05-20', '',  139304.91, 79070.36);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600863', '内蒙华电', '1994-05-20', '',  580774.5, 580774.5);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600864', '哈投股份', '1994-08-09', '',  210851.38, 157831.74);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600865', '百大集团', '1994-08-09', '',  37624.03, 37624.03);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600866', '星湖科技', '1994-08-18', '',  64539.35, 64539.35);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600867', '通化东宝', '1994-08-24', '',  171129.65, 164442.41);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600868', '梅雁吉祥', '1994-09-12', '',  189814.87, 189814.87);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600869', '智慧能源', '1995-02-06', '',  221935.27, 217819.18);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600870', '厦华电子', '1995-02-28', '',  52319.97, 52319.97);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600871', '*ST油服', '1995-04-11', '',  1898434, 1745762.25);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600872', '中炬高新', '1995-01-24', '',  79663.72, 79663.72);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600873', '梅花生物', '1995-02-17', '',  310822.66, 310822.66);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600874', '创业环保', '1995-06-30', '',  142722.84, 142722.84);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600875', '东方电气', '1995-10-10', '',  233690.04, 233690.04);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600876', '洛阳玻璃', '1995-10-31', '',  52676.69, 51176.69);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600877', 'ST嘉陵', '1995-10-13', '',  68728.2, 68728.2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600879', '航天电子', '1995-11-15', '',  271927.13, 241333.25);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600880', '博瑞传播', '1995-11-15', '',  109333.21, 73336.51);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600881', '亚泰集团', '1995-11-15', '',  324891.36, 189473.21);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600882', '广泽股份', '1995-12-06', '',  41059.8, 39923.8);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600883', '博闻科技', '1995-12-08', '',  23608.8, 23608.8);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600884', '杉杉股份', '1996-01-30', '',  112276.5, 82171.65);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600885', '宏发股份', '1996-02-05', '',  53197.25, 53197.25);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600886', '国投电力', '1996-01-18', '',  678602.33, 678602.33);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600887', '伊利股份', '1996-03-12', '',  607849.26, 603336.92);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600888', '新疆众和', '1996-02-15', '',  83359.36, 83359.36);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600889', '南京化纤', '1996-03-08', '',  30706.93, 30706.93);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600890', '中房股份', '1996-03-18', '',  57919.49, 57919.49);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600891', '秋林集团', '1996-03-25', '',  61758.58, 38405.51);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600892', '大晟文化', '1996-03-15', '',  55946.42, 25159.75);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600893', '航发动力', '1996-04-08', '',  224984.45, 194772.66);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600894', '广日股份', '1996-03-28', '',  85994.69, 85994.69);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600895', '张江高科', '1996-04-22', '',  154868.96, 154868.96);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600896', '览海投资', '1996-05-03', '',  86909.91, 57712.83);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600897', '厦门空港', '1996-05-31', '',  29781, 29781);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600898', '国美通讯', '1996-04-18', '',  25252.38, 25252.38);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600900', '长江电力', '2003-11-18', '',  2200000, 1150594.15);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600901', '江苏租赁', '2018-03-01', '',  298665, 63999.97);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600903', '贵州燃气', '2017-11-07', '',  81298.93, 12194.84);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600908', '无锡银行', '2016-09-23', '',  184811.48, 80433.06);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600909', '华安证券', '2016-12-06', '',  362100, 270200);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600917', '重庆燃气', '2014-09-30', '',  155600, 155600);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600919', '江苏银行', '2016-08-02', '',  1154445, 592397.78);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600926', '杭州银行', '2016-10-27', '',  366442.89, 146572.96);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600929', '湖南盐业', '2018-03-26', '',  91775.11, 15000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600933', '爱柯迪', '2017-11-17', '',  84544, 13824);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600936', '广西广电', '2016-08-15', '',  167102.62, 119598.33);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600939', '重庆建工', '2017-02-21', '',  181450, 40957.56);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600958', '东方证券', '2015-03-23', '',  699365.58, 619545.2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600959', '江苏有线', '2015-04-28', '',  388452.98, 139617.84);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600960', '渤海活塞', '2004-04-07', '',  95051.55, 68012.86);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600961', '株冶集团', '2004-08-30', '',  52745.79, 52745.79);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600962', '国投中鲁', '2004-06-22', '',  26221, 25402);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600963', '岳阳林纸', '2004-05-25', '',  139773.31, 104315.91);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600965', '福成股份', '2004-07-13', '',  81870.1, 52800.33);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600966', '博汇纸业', '2004-06-08', '',  133684.43, 133684.43);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600967', '内蒙一机', '2004-05-18', '',  168963.18, 96049.82);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600969', '郴电国际', '2004-04-08', '',  26432.18, 26432.18);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600970', '中材国际', '2005-04-12', '',  175425.79, 168321.07);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600971', '恒源煤电', '2004-08-17', '',  100000.41, 100000.41);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600973', '宝胜股份', '2004-08-02', '',  122211.25, 89504.13);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600975', '新五丰', '2004-06-09', '',  65267.56, 46872.03);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600976', '健民集团', '2004-04-19', '',  15339.86, 15329.86);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600977', '中国电影', '2016-08-09', '',  186700, 56500);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600978', '宜华生活', '2004-08-24', '',  148287, 148287);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600979', '广安爱众', '2004-09-06', '',  94789.21, 71789.21);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600980', '北矿科技', '2004-05-12', '',  15220.99, 14332.59);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600981', '汇鸿集团', '2004-06-30', '',  224243.32, 24185.46);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600982', '宁波热电', '2004-07-06', '',  74693, 74693);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600983', '惠而浦', '2004-07-27', '',  76643.9, 53280);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600984', '建设机械', '2004-07-07', '',  63676.42, 53882.89);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600985', '雷鸣科化', '2004-04-28', '',  30015.63, 26285.47);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600986', '科达股份', '2004-04-26', '',  95543.59, 49350.19);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600987', '航民股份', '2004-08-09', '',  63531, 63531);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600988', '赤峰黄金', '2004-04-14', '',  142638.15, 122068.41);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600990', '四创电子', '2004-05-10', '',  15917.91, 13670.2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600992', '贵绳股份', '2004-05-14', '',  24509, 24509);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600993', '马应龙', '2004-05-17', '',  43105.39, 43023.63);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600995', '文山电力', '2004-06-15', '',  47852.64, 47852.64);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600996', '贵广网络', '-', '',  104256.84, 29798.73);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600997', '开滦股份', '2004-06-02', '',  158779.99, 123464);

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:31: Warning: (1265, "Data truncated for column 'pub_date' at row 1")

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600998', '九州通', '2010-11-02', '',  187766.25, 164579.11);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('600999', '招商证券', '2009-11-17', '',  669940.93, 588410.07);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601000', '唐山港', '2010-07-05', '',  455840.66, 425626.95);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601001', '大同煤业', '2006-06-23', '',  167370, 167370);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601002', '晋亿实业', '2007-01-26', '',  79269, 79269);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601003', '柳钢股份', '2007-02-27', '',  256279.32, 256279.32);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601005', '重庆钢铁', '2007-02-28', '',  891860.23, 891860.23);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601006', '大秦铁路', '2006-08-01', '',  1486679.15, 1486679.15);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601007', '金陵饭店', '2007-04-06', '',  30000, 30000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601008', '连云港', '2007-04-26', '',  101521.51, 101521.51);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601009', '南京银行', '2007-07-19', '',  848220.79, 806950.32);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601010', '文峰股份', '2011-06-03', '',  184800, 184800);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601011', '宝泰隆', '2011-03-09', '',  161115.06, 136750);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601012', '隆基股份', '2012-04-11', '',  199398.96, 197552.95);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601015', '陕西黑猫', '2014-11-05', '',  125368.42, 93000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601016', '节能风电', '2014-09-29', '',  415556, 415556);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601018', '宁波港', '2010-09-28', '',  1317284.78, 1280000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601019', '山东出版', '2017-11-22', '',  208690, 26690);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601020', '华钰矿业', '2016-03-16', '',  52591.63, 28264.67);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601021', '春秋航空', '2015-01-21', '',  91689.77, 80000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601028', '玉龙股份', '2011-11-07', '',  78302.58, 78302.58);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601038', '一拖股份', '2012-08-08', '',  98585, 98585);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601058', '赛轮金宇', '2011-06-30', '',  270146.07, 226051.92);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601069', '西部黄金', '2015-01-22', '',  63600, 63600);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601086', '国芳集团', '2017-09-29', '',  66600, 16000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601088', '中国神华', '2007-10-09', '',  1988962.05, 1988962.05);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601098', '中南传媒', '2010-10-28', '',  179600, 179600);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601099', '太平洋', '2007-12-28', '',  681631.64, 647881.64);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601100', '恒立液压', '2011-10-28', '',  63000, 63000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601101', '昊华能源', '2010-03-31', '',  119999.83, 119999.83);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601106', '*ST一重', '2010-02-09', '',  685778.29, 653800);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601107', '四川成渝', '2009-07-27', '',  305806, 305806);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601108', '财通证券', '2017-10-24', '',  358900, 35900);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601111', '中国国航', '2006-08-18', '',  1452481.52, 1401133.64);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601113', '华鼎股份', '2011-05-09', '',  83305, 64000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601116', '三江购物', '2011-03-02', '',  41075.88, 41075.88);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601117', '中国化学', '2010-01-07', '',  493300, 493300);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601118', '海南橡胶', '2011-01-07', '',  427942.78, 393117.16);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601126', '四方股份', '2010-12-31', '',  81317.2, 81317.2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601127', '小康股份', '2016-06-15', '',  90920, 18000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601128', '常熟银行', '2016-09-30', '',  222272.8, 99699.77);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601137', '博威合金', '2011-01-27', '',  62721.97, 56392.86);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601139', '深圳燃气', '2009-12-25', '',  221409.22, 218415.82);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601155', '新城控股', '2015-12-04', '',  225738.42, 71944.42);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601158', '重庆水务', '2010-03-29', '',  480000, 480000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601163', '三角轮胎', '2016-09-09', '',  80000, 28044.28);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601166', '兴业银行', '2007-02-05', '',  2077419.08, 1905233.68);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601168', '西部矿业', '2007-07-12', '',  238300, 238300);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601169', '北京银行', '2007-09-19', '',  2114298.43, 1824801.08);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601177', '杭齿前进', '2010-10-11', '',  40006, 40006);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601179', '中国西电', '2010-01-28', '',  512588.24, 512588.24);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601186', '中国铁建', '2008-03-10', '',  1357954.15, 1357954.15);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601188', '龙江交通', '2010-03-19', '',  131587.86, 131587.86);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601198', '东兴证券', '2015-02-26', '',  275796.07, 275796.07);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601199', '江南水务', '2011-03-17', '',  93520.65, 93520.65);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601200', '上海环境', '2017-03-31', '',  70254.39, 67233.13);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601208', '东材科技', '2011-05-20', '',  62660.1, 62660.1);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601211', '国泰君安', '2015-06-26', '',  871393.38, 593051.75);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601212', '白银有色', '2017-02-15', '',  697296.59, 196467.51);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601216', '君正集团', '2011-02-22', '',  843801.74, 843801.74);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601218', '吉鑫科技', '2011-05-06', '',  99176, 99176);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601222', '林洋能源', '2011-08-08', '',  176569.18, 174253.18);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601225', '陕西煤业', '2014-01-28', '',  1000000, 1000000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601226', '华电重工', '2014-12-11', '',  115500, 115500);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601228', '广州港', '2017-03-29', '',  619318, 144318);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601229', '上海银行', '2016-11-16', '',  780578.5, 370689.5);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601231', '环旭电子', '2012-02-20', '',  217592.36, 217592.36);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601233', '桐昆股份', '2011-05-18', '',  130138.07, 120510.27);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601238', '广汽集团', '2012-03-29', '',  729483.86, 654144.84);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601258', '庞大集团', '2011-04-28', '',  667466.34, 653847.84);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601288', '农业银行', '2010-07-15', '',  32479411.7, 32479411.7);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601311', '骆驼股份', '2011-06-02', '',  84839.75, 84839.75);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601318', '中国平安', '2007-03-01', '',  1828024.14, 1828024.14);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601326', '秦港股份', '2017-08-16', '',  558741.2, 138785.3);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601328', '交通银行', '2007-05-15', '',  7426272.66, 7426272.66);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601333', '广深铁路', '2006-12-22', '',  708353.7, 708353.7);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601336', '新华保险', '2011-12-16', '',  311954.66, 311954.66);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601339', '百隆东方', '2012-06-12', '',  150000, 150000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601360', '三六零', '2012-01-16', '',  676405.52, 39718.24);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601366', '利群股份', '2017-04-12', '',  86050.05, 17600);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601368', '绿城水务', '2015-06-12', '',  73581.09, 29420.27);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601369', '陕鼓动力', '2010-04-28', '',  163877.02, 163877.02);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601375', '中原证券', '2017-01-03', '',  392373.47, 305277.17);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601377', '兴业证券', '2010-10-13', '',  669667.17, 669667.17);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601388', '怡球资源', '2012-04-23', '',  202540, 202540);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601390', '中国中铁', '2007-12-03', '',  2284430.15, 2253542.12);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601398', '工商银行', '2006-10-27', '',  35640625.71, 35640625.71);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601500', '通用股份', '2016-09-19', '',  72691.91, 17491.91);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601515', '东风股份', '2012-02-16', '',  111200, 111200);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601518', '吉林高速', '2010-03-19', '',  121320, 121320);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601519', '*ST智慧', '2011-01-28', '',  198770, 198770);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601555', '东吴证券', '2011-12-12', '',  300000, 289100);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601558', '*ST锐电', '2011-01-13', '',  603060, 570720);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601566', '九牧王', '2011-05-30', '',  57463.72, 57463.72);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601567', '三星医疗', '2011-06-15', '',  142695.83, 141707.25);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601579', '会稽山', '2014-08-25', '',  49736, 40000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601588', '北辰实业', '2006-10-16', '',  336702, 336702);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601595', '上海电影', '2016-08-17', '',  37350, 10604.53);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601599', '鹿港文化', '2011-05-27', '',  89406.84, 87292.84);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601600', '中国铝业', '2007-04-30', '',  1490379.82, 1490379.82);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601601', '中国太保', '2007-12-25', '',  906200, 906200);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601607', '上海医药', '1994-03-24', '',  268891.05, 268882.89);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601608', '中信重工', '2012-07-06', '',  433941.93, 430001.49);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601611', '中国核建', '2016-06-06', '',  262500, 96180);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601616', '广电电气', '2011-02-01', '',  93557.5, 93557.5);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601618', '中国中冶', '2009-09-21', '',  2072361.92, 2072361.92);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601619', '嘉泽新能', '2017-07-20', '',  193300, 19371.23);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601628', '中国人寿', '2007-01-09', '',  2826470.5, 2826470.5);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601633', '长城汽车', '2011-09-28', '',  912726.9, 912726.9);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601636', '旗滨集团', '2011-08-12', '',  269140.49, 254546.58);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601666', '平煤股份', '2006-11-23', '',  236116.5, 236116.5);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601668', '中国建筑', '2009-07-29', '',  3000000, 2973170.33);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601669', '中国电建', '2011-10-18', '',  1529903.5, 960000);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601677', '明泰铝业', '2011-09-19', '',  58998.43, 49668.31);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601678', '滨化股份', '2010-02-23', '',  118800, 118800);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601688', '华泰证券', '2010-02-26', '',  716276.88, 716276.88);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601689', '拓普集团', '2015-03-19', '',  72757.78, 17070);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601699', '潞安环能', '2006-09-22', '',  299140.92, 299140.92);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601700', '风范股份', '2011-01-18', '',  113323.2, 113323.2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601717', '郑煤机', '2010-08-03', '',  173247.14, 172635.96);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601718', '际华集团', '2010-08-16', '',  439162.94, 385700);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601727', '上海电气', '2008-12-05', '',  1472518.07, 1282433.06);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601766', '中国中车', '2008-08-18', '',  2869886.41, 2728875.83);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601777', '力帆股份', '2010-11-25', '',  130683.94, 123663.34);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601788', '光大证券', '2009-08-18', '',  461078.76, 461078.76);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601789', '宁波建工', '2011-08-16', '',  97608, 97608);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601798', '蓝科高新', '2011-06-22', '',  35452.82, 35452.82);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601799', '星宇股份', '2011-02-01', '',  27615.52, 27615.52);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601800', '中国交建', '2012-03-09', '',  1617473.54, 1617473.54);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601801', '皖新传媒', '2010-01-18', '',  198920.47, 198920.47);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601808', '中海油服', '2007-09-28', '',  477159.2, 477159.2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601811', '新华文轩', '2016-08-08', '',  123384.1, 64103.15);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601818', '光大银行', '2010-08-18', '',  5248912.71, 5248912.71);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601828', '美凯龙', '2018-01-17', '',  393891.7, 137781.31);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601838', '成都银行', '2018-01-31', '',  361225.13, 36122.51);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601857', '中国石油', '2007-11-05', '',  18302097.78, 18302097.78);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601858', '中国科传', '2017-01-18', '',  79050, 13050);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601866', '中远海发', '2007-12-12', '',  1168312.5, 1168312.5);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601872', '招商轮船', '2006-12-01', '',  529945.81, 472092.18);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601877', '正泰电器', '2010-01-21', '',  215142.85, 170076.62);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601878', '浙商证券', '2017-06-26', '',  333333.34, 33333.34);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601880', '大连港', '2010-12-06', '',  1289453.6, 1289453.6);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601881', '中国银河', '2017-01-23', '',  1013725.88, 491951.55);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601882', '海天精工', '2016-11-07', '',  52200, 12594);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601886', '江河集团', '2011-08-18', '',  115405, 115405);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601888', '中国国旅', '2009-10-15', '',  195247.55, 195247.55);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601890', '亚星锚链', '2010-12-28', '',  95940, 95940);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601898', '中煤能源', '2008-02-01', '',  1325866.34, 1325866.34);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601899', '紫金矿业', '2008-04-25', '',  2303121.89, 2154074.37);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601900', '南方传媒', '2016-02-15', '',  89587.66, 17560);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601901', '方正证券', '2011-08-10', '',  823210.14, 823210.14);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601908', '京运通', '2011-09-08', '',  199529.77, 199301.77);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601918', '新集能源', '2007-12-19', '',  259054.18, 259054.18);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601919', '中远海控', '2007-06-26', '',  1021627.44, 1021627.44);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601928', '凤凰传媒', '2011-11-30', '',  254490, 254490);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601929', '吉视传媒', '2012-02-23', '',  311080.12, 311080.12);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601933', '永辉超市', '2010-12-15', '',  957046.21, 813507.22);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601939', '建设银行', '2007-09-25', '',  25001097.75, 25001097.75);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601949', '中国出版', '2017-08-21', '',  182250, 36450);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601952', '苏垦农发', '2017-05-15', '',  106000, 26000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601958', '金钼股份', '2008-04-17', '',  322660.44, 322660.44);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601965', '中国汽研', '2012-06-11', '',  97013.24, 96117.99);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601966', '玲珑轮胎', '2016-07-06', '',  120000, 39440);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601968', '宝钢包装', '2015-06-11', '',  83333.33, 31333.33);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601969', '海南矿业', '2014-12-09', '',  195472.03, 195472.03);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601985', '中国核电', '2015-06-10', '',  1556543, 424125);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601988', '中国银行', '2006-07-05', '',  29438779.12, 29438779.12);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601989', '中国重工', '2009-12-16', '',  2287979.32, 1836166.51);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601991', '大唐发电', '2006-12-20', '',  1850671.05, 1610498.14);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601992', '金隅集团', '2011-03-01', '',  1067777.11, 1048424.39);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601996', '丰林集团', '2011-09-29', '',  95818.4, 93782.4);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601997', '贵阳银行', '2016-08-16', '',  229859.19, 123896.51);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601998', '中信银行', '2007-04-27', '',  4893479.66, 4678732.7);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('601999', '出版传媒', '2007-12-21', '',  55091.47, 55091.47);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603000', '人民网', '2012-04-27', '',  110569.11, 110569.11);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603001', '奥康国际', '2012-04-26', '',  40098, 40098);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603002', '宏昌电子', '2012-05-18', '',  61441.17, 60580.97);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603003', '龙宇燃油', '2012-08-17', '',  44111.46, 44111.46);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603005', '晶方科技', '2014-02-10', '',  23270.7, 17164.87);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603006', '联明股份', '2014-06-30', '',  19235.96, 7003.38);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603007', '花王股份', '2016-08-26', '',  33337.5, 19436.2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603008', '喜临门', '2012-07-17', '',  39485.78, 31500);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603009', '北特科技', '2014-07-18', '',  34874.71, 32066.51);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603010', '万盛股份', '2014-10-10', '',  25439.2, 22000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603011', '合锻智能', '2014-11-07', '',  44619.88, 41224.7);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603012', '创力集团', '2015-03-20', '',  63656, 63656);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603015', '弘讯科技', '2015-03-03', '',  40720, 40020);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603016', '新宏泰', '2016-07-01', '',  14896, 7046);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603017', '中衡设计', '2014-12-31', '',  27528.97, 27327.87);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603018', '中设集团', '2014-10-13', '',  21203.66, 20800);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603019', '中科曙光', '2014-11-06', '',  64302.4, 64302.4);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603020', '爱普股份', '2015-03-25', '',  32000, 32000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603021', '山东华鹏', '2015-04-23', '',  31994.81, 20783.19);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603022', '新通联', '2015-05-18', '',  20000, 6500);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603023', '威帝股份', '2015-05-27', '',  36000, 12701.7);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603025', '大豪科技', '2015-04-22', '',  45413.34, 5100);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603026', '石大胜华', '2015-05-29', '',  20268, 14042.76);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603027', '千禾味业', '2016-03-07', '',  32598.52, 13319.03);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603028', '赛福天', '2016-03-31', '',  22080, 11556.87);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603029', '天鹅股份', '2016-04-27', '',  9334, 3652.55);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603030', '全筑股份', '2015-03-20', '',  53861.43, 53208.33);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603031', '安德利', '2016-08-22', '',  8000, 3990.14);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603032', '德新交运', '2017-01-05', '',  13334, 6534);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603033', '三维股份', '2016-12-07', '',  12698, 5530);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603035', '常熟汽饰', '2017-01-05', '',  28000, 17221.44);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603036', '如通股份', '2016-12-09', '',  20336, 5084);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603037', '凯众股份', '2017-01-20', '',  10592.27, 6146.54);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603038', '华立股份', '2017-01-16', '',  6715.3, 2670);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603039', '泛微网络', '2017-01-13', '',  6926.99, 2696);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603040', '新坐标', '2017-02-09', '',  6107.93, 2400);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603041', '美思德', '2017-03-30', '',  10000, 4652.5);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603042', '华脉科技', '2017-06-02', '',  13867, 3400);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603043', '广州酒家', '2017-06-27', '',  40399.62, 5000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603050', '科林电气', '2017-04-14', '',  16000.8, 4000.8);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603055', '台华新材', '2017-09-21', '',  54760, 6760);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603056', '德邦股份', '2018-01-16', '',  96000, 10000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603058', '永吉股份', '2016-12-23', '',  42351, 22806.6);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603059', '倍加洁', '2018-03-02', '',  8000, 2000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603060', '国检集团', '2016-11-09', '',  22000, 6382.75);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603063', '禾望电气', '2017-07-28', '',  42000, 6000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603066', '音飞储存', '2015-06-11', '',  30234.17, 13757.79);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603067', '振华股份', '2016-09-13', '',  22000, 11114.95);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603069', '海汽集团', '2016-07-12', '',  31600, 17380);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603076', '乐惠国际', '2017-11-13', '',  7450, 1865);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603077', '和邦生物', '2012-07-31', '',  883125.02, 883125.02);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603078', '江化微', '2017-04-10', '',  6000, 1500);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603079', '圣达生物', '2017-08-23', '',  8000, 2000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603080', '新疆火炬', '2018-01-03', '',  14150, 3550);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603081', '大丰实业', '2017-04-20', '',  40180, 5180);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603083', '剑桥科技', '2017-11-10', '',  9787.16, 2446.79);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603085', '天成自控', '2015-06-30', '',  22383.55, 7895.19);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603086', '先达股份', '2017-05-11', '',  8000, 2000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603088', '宁波精达', '2014-11-11', '',  8000, 8000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603089', '正裕工业', '2017-01-26', '',  10667, 3145.49);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603090', '宏盛股份', '2016-08-31', '',  10000, 4068.13);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603096', '新经典', '2017-04-25', '',  13466, 3336);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603098', '森特股份', '2016-12-16', '',  40001, 6251);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603099', '长白山', '2014-08-22', '',  26667, 26667);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603100', '川仪股份', '2014-08-05', '',  39500, 25862.51);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603101', '汇嘉时代', '2016-05-06', '',  24000, 7200);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603103', '横店影视', '2017-10-12', '',  45300, 5300);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603106', '恒银金融', '2017-09-20', '',  28000, 7000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603108', '润达医疗', '2015-05-27', '',  57953.41, 22185.97);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603110', '东方材料', '2017-10-13', '',  10266.67, 2566.67);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603111', '康尼机电', '2014-08-01', '',  99327.55, 73838.33);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603113', '金能科技', '2017-05-11', '',  67593.95, 7730);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603116', '红蜻蜓', '2015-06-29', '',  41720, 18070.57);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603117', '万林股份', '2015-06-29', '',  46232.09, 28174.38);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603118', '共进股份', '2015-02-25', '',  78181.7, 77573.33);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603123', '翠微股份', '2012-05-03', '',  52414.42, 52414.42);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603126', '中材节能', '2014-07-31', '',  61050, 61050);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603127', '昭衍新药', '2017-08-25', '',  8180, 2050);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603128', '华贸物流', '2012-05-29', '',  100541.52, 91108.17);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603129', '春风动力', '2017-08-18', '',  13333.34, 3333.34);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603131', '上海沪工', '2016-06-07', '',  20000, 5000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603133', '碳元科技', '2017-03-20', '',  20800, 11198.09);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603136', '天目湖', '2017-09-27', '',  8000, 2000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603138', '海量数据', '2017-03-06', '',  10733.9, 3382.6);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603139', '康惠制药', '2017-04-21', '',  9988, 2497);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603156', '养元饮品', '2018-02-12', '',  53805, 4305);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603157', '拉夏贝尔', '2017-09-25', '',  54767.16, 26955.98);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603158', '腾龙股份', '2015-03-20', '',  21865.5, 21534.24);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603159', '上海亚虹', '2016-08-12', '',  10000, 2500);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603160', '汇顶科技', '2016-10-17', '',  45415.95, 22964.4);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603161', '科华控股', '2018-01-05', '',  13340, 3340);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603165', '荣晟环保', '2017-01-17', '',  12855, 3168);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603166', '福达股份', '2014-11-27', '',  59771.87, 59201.87);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603167', '渤海轮渡', '2012-09-06', '',  48140, 48140);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603168', '莎普爱思', '2014-07-02', '',  24814.81, 22872.5);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603169', '兰石重装', '2014-10-09', '',  105150.25, 102541.56);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603177', '德创环保', '2017-02-07', '',  20200, 6175);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603178', '圣龙股份', '2017-03-28', '',  20334.8, 5000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603179', '新泉股份', '2017-03-17', '',  16227, 6665.8);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603180', '金牌厨柜', '2017-05-12', '',  6750, 1700);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603181', '皇马科技', '2017-08-24', '',  20000, 5000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603183', '建研院', '2017-09-05', '',  8800, 2200);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603186', '华正新材', '2017-01-03', '',  13067, 7371.68);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603188', '亚邦股份', '2014-09-09', '',  57600, 57600);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603189', '网达软件', '2016-09-14', '',  22080, 11010);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603196', '日播时尚', '2017-05-31', '',  24000, 6000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603197', '保隆科技', '2017-05-19', '',  11930.33, 2928);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603198', '迎驾贡酒', '2015-05-28', '',  80000, 16640);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603199', '九华旅游', '2015-03-26', '',  11068, 11068);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603200', '上海洗霸', '2017-06-01', '',  7372, 1843);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603203', '快克股份', '2016-11-08', '',  12178.72, 4060.48);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603208', '江山欧派', '2017-02-10', '',  8081.61, 3081.61);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603214', '爱婴室', '2018-03-30', '',  10000, 2500);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603218', '日月股份', '2016-12-28', '',  40100, 9942.91);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603222', '济民制药', '2015-02-17', '',  32000, 32000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603223', '恒通股份', '2015-06-30', '',  14400, 7900);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603225', '新凤鸣', '2017-04-18', '',  84280, 10822);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603226', '菲林格尔', '2017-06-15', '',  8960.8, 2167);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603227', '雪峰科技', '2015-05-15', '',  65870, 42154);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603228', '景旺电子', '2017-01-06', '',  40800, 8108.8);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603229', '奥翔药业', '2017-05-09', '',  16000, 4000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603232', '格尔软件', '2017-04-21', '',  6100, 1525);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603233', '大参林', '2017-07-31', '',  40001, 4001);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603238', '诺邦股份', '2017-02-22', '',  12000, 3000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603239', '浙江仙通', '2016-12-30', '',  27072, 9072);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603258', '电魂网络', '2016-10-26', '',  24000, 6678.6);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603260', '合盛硅业', '2017-10-30', '',  67000, 7000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603266', '天龙股份', '2017-01-10', '',  10000, 2500);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603268', '松发股份', '2015-03-19', '',  8938.4, 8800);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603269', '海鸥股份', '2017-05-17', '',  9147, 2287);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603277', '银都股份', '2017-09-11', '',  40080, 6600);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603278', '大业股份', '2017-11-13', '',  20800, 5200);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603283', '赛腾股份', '2017-12-25', '',  16000, 4000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603286', '日盈电子', '2017-06-27', '',  8807.6, 2201.9);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603288', '海天味业', '2014-02-11', '',  270120.67, 269688.67);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603289', '泰瑞机器', '2017-10-31', '',  20400, 5100);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603298', '杭叉集团', '2016-12-27', '',  61885.42, 17058.56);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603299', '井神股份', '2015-12-31', '',  55944, 27930.09);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603300', '华铁科技', '2015-05-29', '',  45454.63, 27811.4);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603303', '得邦照明', '2017-03-30', '',  40800, 10200);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603305', '旭升股份', '2017-07-10', '',  40060, 4160);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603306', '华懋科技', '2014-09-26', '',  23616.9, 21273);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603308', '应流股份', '2014-01-22', '',  43375.43, 40001);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603309', '维力医疗', '2015-03-02', '',  20000, 20000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603311', '金海环境', '2015-05-18', '',  21000, 9300.63);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603313', '梦百合', '2016-10-13', '',  24000, 8234.7);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603315', '福鞍股份', '2015-04-24', '',  21995.09, 7786.25);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603316', '诚邦股份', '2017-06-19', '',  20328, 5082);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603318', '派思股份', '2015-04-24', '',  40330.23, 10620);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603319', '湘油泵', '2016-11-30', '',  8092, 5668.03);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603320', '迪贝电气', '2017-05-02', '',  10000, 2500);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603321', '梅轮电梯', '2017-09-15', '',  30700, 7700);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603322', '超讯通信', '2016-07-28', '',  8000, 3239.92);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603323', '吴江银行', '2016-11-29', '',  144808.43, 60692.8);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603326', '我乐家居', '2017-06-16', '',  16142.01, 4000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603328', '依顿电子', '2014-07-01', '',  99772.56, 98684.01);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603329', '上海雅仕', '2017-12-29', '',  13200, 3300);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603330', '上海天洋', '2017-02-13', '',  6000, 2424.89);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603331', '百达精工', '2017-07-05', '',  12725.33, 3181.33);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603333', '明星电缆', '2012-05-07', '',  52000.5, 52000.5);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603335', '迪生力', '2017-06-20', '',  25334, 6334);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603336', '宏辉果蔬', '2016-11-24', '',  13335, 5283.1);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603337', '杰克股份', '2017-01-19', '',  20667, 5477);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603338', '浙江鼎力', '2015-03-25', '',  17692.62, 16250);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603339', '四方冷链', '2016-05-19', '',  21082.13, 5680);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603345', '安井食品', '2017-02-22', '',  21604, 12284.94);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603355', '莱克电气', '2015-05-13', '',  40100, 6669);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603356', '华菱精工', '2018-01-24', '',  13334, 3334);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603357', '设计总院', '2017-08-01', '',  32467.34, 8120);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603358', '华达科技', '2017-01-25', '',  16000, 7025.59);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603359', '东珠景观', '2017-09-01', '',  22760, 5690);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603360', '百傲化学', '2017-02-06', '',  13334, 5600.67);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603363', '傲农生物', '2017-09-26', '',  42609, 6000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603365', '水星家纺', '2017-11-20', '',  26667, 6667);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603366', '日出东方', '2012-05-21', '',  80000, 80000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603367', '辰欣药业', '2017-09-29', '',  45335.3, 10000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603368', '柳州医药', '2014-12-04', '',  18505.25, 14625);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603369', '今世缘', '2014-07-03', '',  125450, 125450);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603377', '东方时尚', '2016-02-05', '',  42000, 11775.63);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603378', '亚士创能', '2017-09-28', '',  19480, 4900);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603380', '易德龙', '2017-06-22', '',  16000, 4000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603383', '顶点软件', '2017-05-22', '',  8586.7, 2105);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603385', '惠达卫浴', '2017-04-05', '',  28415.11, 7104);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603386', '广东骏亚', '2017-09-12', '',  20180, 5050);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603387', '基蛋生物', '2017-07-17', '',  13288.92, 3300);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603388', '元成股份', '2017-03-24', '',  20584.4, 8360);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603389', '亚振家居', '2016-12-15', '',  21896, 6296);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603393', '新天然气', '2016-09-12', '',  16000, 9564.47);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603396', '金辰股份', '2017-10-18', '',  7555.67, 1889);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603398', '邦宝益智', '2015-12-09', '',  21248, 5280);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603399', '吉翔股份', '2012-08-24', '',  54675.06, 49925.06);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603416', '信捷电气', '2016-12-21', '',  14056, 3514);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603421', '鼎信通讯', '2016-10-11', '',  44310.55, 4340);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603429', '集友股份', '2017-01-24', '',  13600, 3400);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603444', '吉比特', '2017-01-04', '',  7188.22, 4107.74);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603456', '九洲药业', '2014-10-10', '',  44784.62, 44314.62);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603458', '勘设股份', '2017-08-09', '',  12415.15, 3103.79);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603466', '风语筑', '2017-10-20', '',  14597.55, 3600);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603477', '振静股份', '2017-12-18', '',  24000, 6000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603488', '展鹏科技', '2017-05-16', '',  20800, 5200);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603496', '恒为科技', '2017-06-07', '',  10000, 2500);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603499', '翔港科技', '2017-10-16', '',  10000, 2500);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603500', '祥和实业', '2017-09-04', '',  12600, 3150);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603501', '韦尔股份', '2017-05-04', '',  45581.39, 4160);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603505', '金石资源', '2017-05-03', '',  24000, 6000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603506', '南都物业', '2018-02-01', '',  7936.51, 1984.13);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603507', '振江股份', '2017-11-06', '',  12563.14, 3140.79);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603508', '思维列控', '2015-12-24', '',  16000, 6520);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603515', '欧普照明', '2016-08-19', '',  57947.91, 9796.21);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603516', '淳中科技', '2018-02-02', '',  9354.67, 2338.67);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603517', '绝味食品', '2017-03-17', '',  41000, 16370.24);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603518', '维格娜丝', '2014-12-03', '',  18055.4, 14798);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603519', '立霸股份', '2015-03-19', '',  16000, 16000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603520', '司太立', '2016-03-09', '',  12000, 6465);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603527', '众源新材', '2017-09-07', '',  12440, 3110);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603528', '多伦科技', '2016-05-03', '',  62004, 18759);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603533', '掌阅科技', '2017-09-21', '',  40100, 4100);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603535', '嘉诚国际', '2017-08-08', '',  15040, 3760);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603536', '惠发股份', '2017-06-13', '',  12000, 3000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603538', '美诺华', '2017-04-07', '',  12000, 3000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603555', '贵人鸟', '2014-01-24', '',  62860.21, 62860.21);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603556', '海兴电力', '2016-11-10', '',  38139.2, 12647.04);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603557', '起步股份', '2017-08-18', '',  46997.97, 4700);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603558', '健盛集团', '2015-01-27', '',  41635.63, 30000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603559', '中通国脉', '2016-12-02', '',  13870.87, 7949.85);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603566', '普莱柯', '2015-05-18', '',  32374, 16361.42);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603567', '珍宝岛', '2015-04-24', '',  84916, 27316);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603568', '伟明环保', '2015-05-28', '',  68776, 13063.8);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603569', '长久物流', '2016-08-10', '',  40001, 5728.34);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603577', '汇金通', '2016-12-22', '',  17502, 7751.54);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603578', '三星新材', '2017-03-06', '',  8800, 3190);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603579', '荣泰健康', '2017-01-11', '',  14000, 5142);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603580', '艾艾精工', '2017-05-25', '',  6667, 1667);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603585', '苏利股份', '2016-12-14', '',  15000, 4500);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603586', '金麒麟', '2017-04-06', '',  21561.8, 5250);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603588', '高能环境', '2014-12-29', '',  66219.1, 65009.28);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603589', '口子窖', '2015-06-29', '',  60000, 29352.44);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603595', '东尼电子', '2017-07-12', '',  10000, 2500);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603598', '引力传媒', '2015-05-27', '',  27111.3, 9736);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603599', '广信股份', '2015-05-13', '',  46467.91, 13648);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603600', '永艺股份', '2015-01-23', '',  25304.48, 25000);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603601', '再升科技', '2015-01-22', '',  38615.13, 38615.13);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603602', '纵横通信', '2017-08-10', '',  8000, 2000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603603', '博天环境', '2017-02-17', '',  40001, 23483);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603605', '珀莱雅', '2017-11-15', '',  20000, 5000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603606', '东方电缆', '2014-10-15', '',  37270.91, 31097);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603607', '京华激光', '2017-10-25', '',  9108, 2278);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603608', '天创时尚', '2016-02-18', '',  43165.42, 12740);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603609', '禾丰牧业', '2014-08-08', '',  83117.65, 83117.65);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603611', '诺力股份', '2015-01-28', '',  19140.25, 16000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603612', '索通发展', '2017-07-18', '',  24302.79, 6020);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603615', '茶花股份', '2017-02-13', '',  24000, 7486.24);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603616', '韩建河山', '2015-06-11', '',  29336, 14736);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603617', '君禾股份', '2017-07-03', '',  10000, 2500);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603618', '杭电股份', '2015-02-17', '',  68687.89, 68687.89);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603619', '中曼石油', '2017-11-17', '',  40000.01, 4000.01);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603626', '科森科技', '2017-02-09', '',  29687.68, 11293.34);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603628', '清源股份', '2017-01-12', '',  27380, 8880);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603630', '拉芳家化', '2017-03-13', '',  17440, 6253.33);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603633', '徕木股份', '2016-11-17', '',  12035, 8303.76);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603636', '南威软件', '2014-12-30', '',  52725.7, 52270.98);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603637', '镇海股份', '2017-02-08', '',  13299.66, 3324.92);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603638', '艾迪精密', '2017-01-20', '',  17600, 5742);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603639', '海利尔', '2017-01-12', '',  12000, 3878.89);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603648', '畅联股份', '2017-09-13', '',  36866.67, 9216.67);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603655', '朗博科技', '2017-12-29', '',  10600, 2650);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603656', '泰禾光电', '2017-03-21', '',  10634.4, 4523.65);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603658', '安图生物', '2016-09-01', '',  42000, 13653.78);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603659', '璞泰来', '2017-11-03', '',  43270.29, 6370.29);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603660', '苏州科达', '2016-12-01', '',  25739.93, 16966.11);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603661', '恒林股份', '2017-11-21', '',  10000, 2500);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603663', '三祥新材', '2016-08-01', '',  13570.9, 4906.69);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603665', '康隆达', '2017-03-13', '',  10000, 3727.08);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603667', '五洲新春', '2016-10-25', '',  20240, 8729.77);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603668', '天马科技', '2017-01-17', '',  29680, 18597.3);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603669', '灵康药业', '2015-05-28', '',  26000, 8645);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603676', '卫信康', '2017-07-21', '',  42300, 6300);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603677', '奇精机械', '2017-02-06', '',  14017.74, 3954.88);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603678', '火炬电子', '2015-01-26', '',  45266.6, 45137.6);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603679', '华体科技', '2017-06-21', '',  10099, 2500);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603680', '今创集团', '2018-02-27', '',  42000, 4200);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603683', '晶华新材', '2017-10-20', '',  12667, 3167);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603685', '晨丰科技', '2017-11-27', '',  10000, 2500);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603686', '龙马环卫', '2015-01-26', '',  29927.1, 26839.5);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603688', '石英股份', '2014-10-31', '',  33733.8, 33635.52);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603689', '皖天然气', '2017-01-10', '',  33600, 16736.16);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603690', '至纯科技', '2017-01-13', '',  21040, 9146.8);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603696', '安记食品', '2015-12-09', '',  12000, 3450);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603698', '航天工程', '2015-01-28', '',  41230, 41230);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603699', '纽威股份', '2014-01-17', '',  75000, 75000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603701', '德宏股份', '2016-04-12', '',  11952, 5856);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603703', '盛洋科技', '2015-04-23', '',  22970, 9591.88);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603707', '健友股份', '2017-07-19', '',  55055, 8255);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603708', '家家悦', '2016-12-13', '',  46800, 15697.09);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603709', '中源家居', '2018-02-08', '',  8000, 2000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603711', '香飘飘', '2017-11-30', '',  40001, 4001);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603712', '七一二', '2018-02-26', '',  77200, 10000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603716', '塞力斯', '2016-10-31', '',  7131.6, 3844.26);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603717', '天域生态', '2017-03-27', '',  17271.16, 8719.96);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603718', '海利生物', '2015-05-15', '',  64400, 30493.4);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603721', '中广天择', '2017-08-11', '',  10000, 2500);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603722', '阿科力', '2017-10-25', '',  8670, 2170);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603725', '天安新材', '2017-09-06', '',  14668, 3668);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603726', '朗迪集团', '2016-04-21', '',  9472, 2368);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603727', '博迈科', '2016-11-22', '',  23414.5, 9487);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603728', '鸣志电器', '2017-05-09', '',  32000, 8000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603729', '龙韵股份', '2015-03-24', '',  6667, 6667);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603730', '岱美股份', '2017-07-28', '',  41036.5, 4800);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603737', '三棵树', '2016-06-03', '',  10218.12, 3264.04);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603738', '泰晶科技', '2016-09-28', '',  11335.6, 4195.6);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603757', '大元泵业', '2017-07-11', '',  8380, 2100);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603758', '秦安股份', '2017-05-17', '',  43879.7, 6000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603766', '隆鑫通用', '2012-08-10', '',  211307.74, 207767.9);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603767', '中马传动', '2017-06-13', '',  21332, 5333);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603768', '常青股份', '2017-03-24', '',  20400, 7012.5);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603776', '永安行', '2017-08-17', '',  9600, 2400);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603777', '来伊份', '2016-10-12', '',  24371.93, 7800);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603778', '乾景园林', '2015-12-31', '',  50000, 22620.41);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603779', '威龙股份', '2016-05-16', '',  22964.67, 9260.58);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603787', '新日股份', '2017-04-27', '',  20400, 5100);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603788', '宁波高发', '2015-01-20', '',  16435.3, 14035.1);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603789', '星光农机', '2015-04-27', '',  26196.04, 10400);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603797', '联泰环保', '2017-04-13', '',  21334, 5334);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603798', '康普顿', '2016-04-06', '',  20000, 8540);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603799', '华友钴业', '2015-01-29', '',  59267.66, 58562.94);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603800', '道森股份', '2015-12-10', '',  20800, 6760);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603801', '志邦股份', '2017-06-30', '',  16000, 4000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603803', '瑞斯康达', '2017-04-20', '',  42105.56, 5680);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603806', '福斯特', '2014-09-05', '',  40200, 40200);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603808', '歌力思', '2015-04-22', '',  33730.2, 11314.57);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603809', '豪能股份', '2017-11-28', '',  10667, 2667);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603811', '诚意药业', '2017-03-15', '',  8520, 5733);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603813', '原尚股份', '2017-09-18', '',  8827, 2207);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603816', '顾家家居', '2016-10-14', '',  42814.1, 8910);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603817', '海峡环保', '2017-02-20', '',  45000, 18000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603818', '曲美家居', '2015-04-22', '',  48412, 13160.8);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603819', '神力股份', '2016-11-25', '',  12082, 5610);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603822', '嘉澳环保', '2016-04-28', '',  7335, 4060);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603823', '百合花', '2016-12-20', '',  22500, 7034.32);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603825', '华扬联众', '2017-08-02', '',  16000, 4000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603826', '坤彩科技', '2017-04-14', '',  36000, 9000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603828', '柯利达', '2015-02-26', '',  33022.69, 32400);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603829', '洛凯股份', '2017-10-17', '',  16000, 4000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603833', '欧派家居', '2017-03-28', '',  42059.65, 8950.74);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603838', '四通股份', '2015-07-01', '',  26668, 9728);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603839', '安正时尚', '2017-02-14', '',  28904.16, 7462);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603843', '正平股份', '2016-09-05', '',  40000.3, 19283.63);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603848', '好太太', '2017-12-01', '',  40100, 4100);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603855', '华荣股份', '2017-05-24', '',  33107, 8277);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603856', '东宏股份', '2017-11-06', '',  19724.2, 4933);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603858', '步长制药', '2016-11-18', '',  68180, 32783.51);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603859', '能科股份', '2016-10-21', '',  11356, 4989);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603860', '中公高科', '2017-08-02', '',  6668, 1668);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603861', '白云电器', '2016-03-22', '',  44274.06, 12108.53);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603866', '桃李面包', '2015-12-22', '',  47062.6, 5917.73);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603868', '飞科电器', '2016-04-18', '',  43560, 4360);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603869', '北部湾旅', '2015-03-26', '',  34880.63, 25517.87);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603871', '嘉友国际', '2018-02-06', '',  8000, 2000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603877', '太平鸟', '2017-01-09', '',  48093.24, 19876.6);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603878', '武进不锈', '2016-12-19', '',  20200, 10101.01);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603879', '永悦科技', '2017-06-14', '',  14400, 3600);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603880', '南卫股份', '2017-08-07', '',  10000, 2500);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603881', '数据港', '2017-02-08', '',  21058.65, 12784.46);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603882', '金域医学', '2017-09-08', '',  45788.46, 6868);

insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603883', '老百姓', '2015-04-23', '',  28494.53, 8412.32);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603885', '吉祥航空', '2015-05-27', '',  179701.35, 53701.35);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603886', '元祖股份', '2016-12-28', '',  24000, 12120.9);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603887', '城地股份', '2016-10-10', '',  10300, 5779.18);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603888', '新华网', '2016-10-28', '',  51902.94, 17647);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603889', '新澳股份', '2014-12-31', '',  39365.11, 32305.8);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603890', '春秋电子', '2017-12-12', '',  13700, 3425);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603895', '天永智能', '2018-01-22', '',  7720, 1930);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603896', '寿仙谷', '2017-05-10', '',  13980, 3495);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603898', '好莱客', '2015-02-17', '',  32035.33, 8900.4);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603899', '晨光文具', '2015-01-27', '',  92000, 92000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603900', '莱绅通灵', '2016-11-23', '',  34047.38, 8511.85);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603901', '永创智能', '2015-05-29', '',  40000, 15400);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603903', '中持股份', '2017-03-14', '',  10333.6, 7379.97);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603906', '龙蟠科技', '2017-04-10', '',  21172, 5200);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603908', '牧高笛', '2017-03-07', '',  6669, 2304.93);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603909', '合诚股份', '2016-06-28', '',  10250, 2500);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603912', '佳力图', '2017-11-01', '',  15030, 3700);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603916', '苏博特', '2017-11-10', '',  30400, 7600);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603917', '合力科技', '2017-12-04', '',  11200, 2800);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603918', '金桥信息', '2015-05-28', '',  17732.5, 12334.4);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603919', '金徽酒', '2016-03-10', '',  36400, 11583.85);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603920', '世运电路', '2017-04-26', '',  40180, 8880);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603922', '金鸿顺', '2017-10-23', '',  12800, 3200);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603926', '铁流股份', '2017-05-10', '',  12000, 3000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603928', '兴业股份', '2016-12-12', '',  20160, 6277.15);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603929', '亚翔集成', '2016-12-30', '',  21336, 9656);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603933', '睿能科技', '2017-07-06', '',  10267, 2567);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603936', '博敏电子', '2015-12-09', '',  16735, 5610);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603937', '丽岛新材', '2017-11-02', '',  20888, 5222);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603938', '三孚股份', '2017-06-28', '',  15016.66, 3755.66);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603939', '益丰药房', '2015-02-17', '',  36269.47, 36269.47);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603955', '大千生态', '2017-03-10', '',  8700, 5486.17);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603958', '哈森股份', '2016-06-29', '',  21736, 6599.9);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603959', '百利科技', '2016-05-17', '',  22400, 10640);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603960', '克来机电', '2017-03-14', '',  10400, 3985.26);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603963', '大理药业', '2017-09-22', '',  10000, 2500);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603966', '法兰泰克', '2017-01-25', '',  16000, 7153.01);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603968', '醋化股份', '2015-05-18', '',  20448, 13660);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603969', '银龙股份', '2015-02-27', '',  40000, 40000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603970', '中农立华', '2017-11-16', '',  13333.34, 3333.34);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603976', '正川股份', '2017-08-22', '',  10800, 2700);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603977', '国泰集团', '2016-11-11', '',  22108, 12568);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603978', '深圳新星', '2017-08-07', '',  8000, 2000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603979', '金诚信', '2015-06-30', '',  58500, 24316.03);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603980', '吉华集团', '2017-06-15', '',  50000, 10000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603985', '恒润股份', '2017-05-05', '',  8000, 2000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603986', '兆易创新', '2016-08-18', '',  20267.97, 14734.54);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603987', '康德莱', '2016-11-21', '',  31543.5, 19007.15);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603988', '中电电机', '2014-11-04', '',  12000, 12000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603989', '艾华集团', '2015-05-15', '',  30000, 8437.5);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603990', '麦迪科技', '2016-12-08', '',  8092.26, 6027.2);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603991', '至正股份', '2017-03-08', '',  7453.5, 4107.89);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603993', '洛阳钼业', '2012-10-09', '',  2159924.06, 1688719.87);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603996', '中新科技', '2015-12-22', '',  30015, 10327.5);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603997', '继峰股份', '2015-03-02', '',  63771.92, 63000);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603998', '方盛制药', '2014-12-05', '',  43093.65, 42519.67);
insert into stocks (code, name, pub_date, industry, total_stock, circulation_stock) VALUE ('603999', '读者传媒', '2015-12-10', '',  57600, 23040);