In [30]:
#-*- coding: utf-8 -*-
import MySQLdb
import codecs

# 打开数据库连接
db = MySQLdb.connect("admin.citypet.cn","pocketpet","3MjdvUuXqxca6cbc","goldminer",charset="utf8")

# 使用cursor()方法获取操作游标 
cursor = db.cursor()

for line in codecs.open("/Users/abing/Downloads/bb.txt", "r", "utf8").readlines():
    parts = line.strip().split("\t")
#     print(parts[1])
    sql = "alter table income_statement add %s double comment '%s'" % (parts[0], parts[0])
    print(sql)
    cursor.execute(sql)
# 使用execute方法执行SQL语句
cursor.execute("select * from market")

# 使用 fetchone() 方法获取一条数据
data = cursor.fetchone()

print(data)

# 关闭数据库连接
db.close()

alter table derivative_finance_indicator change ACCDEPRT double
alter table derivative_finance_indicator change ACCPAYRT double
alter table derivative_finance_indicator change ACCPAYTDAYS double
alter table derivative_finance_indicator change ACCRECGTURNDAYS double
alter table derivative_finance_indicator change ACCRECGTURNRT double
alter table derivative_finance_indicator change ASSLIABRT double
alter table derivative_finance_indicator change CAPEXTODEPANDAMOR double
alter table derivative_finance_indicator change CAPIMORTCONMS double
alter table derivative_finance_indicator change CAPPRORT double
alter table derivative_finance_indicator change CASHCONVCYCLE double
alter table derivative_finance_indicator change CASHOPINDEX double
alter table derivative_finance_indicator change CASHRT double
alter table derivative_finance_indicator change COMPDEPRT double
alter table derivative_finance_indicator change CONSVATQUICKRT double
alter table derivative_finance_indicator change CRPS double
alter table derivative_finance_indicator change CURASSTURNDAYS double
alter table derivative_finance_indicator change CURASSTURNRT double
alter table derivative_finance_indicator change CURLIABTOLTMLIABRT double
alter table derivative_finance_indicator change CURRENTRT double
alter table derivative_finance_indicator change DPS double
alter table derivative_finance_indicator change EBIT double
alter table derivative_finance_indicator change EBITDA double
alter table derivative_finance_indicator change EBITDAMARGIN double
alter table derivative_finance_indicator change EBITDAPS double
alter table derivative_finance_indicator change EBITDASCOVER double
alter table derivative_finance_indicator change EBITDATOTDEBT double
alter table derivative_finance_indicator change EBITMARGIN double

KeyboardInterrupt: